interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"U5hbdsT9W7","biz":"nap_global"},"backgrounds":[{"id":"s9o8fuTt2Y","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/07/c43874494e7a97e3e3f8e6cd3e94aa12_526729485321514241.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/45747565?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/07/7bf7789e26944e7d88910c4899dec0bc_5982029319668630513.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/07/a6dd56d755e314616974c8da7b3ea004_7871814751311018105.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"backgrounds":[{"id":"vXmcOWJOHw","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/09/01f2fa1d69ff36d88b890ddc80f921c9_3858427891423058198.webp","link":"","login_state_in_link":false},"icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/28/76745a5dcebecb8fca966cde7cebd8d1_3561696083417866904.png","hover_url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/28/76745[...]
