interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"U5hbdsT9W7","biz":"nap_global"},"main":{"major":{"version":"3.1.0","game_pkgs":[{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260713160950_6QTI9XOi96wt6aGX/VolumeZip/ZenlessZoneZero_3.1.0_AS.zip.001","md5":"08CB2BEC56583C54430EE5AA6D661407","size":"7764705280","decompressed_size":"17082351617"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260713160950_6QTI9XOi96wt6aGX/VolumeZip/ZenlessZoneZero_3.1.0_AS.zip.002","md5":"A744A37696AF3063B7664E16B30F8995","size":"7764705280","decompressed_size":"17082351617"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260713160950_6QTI9XOi96wt6aGX/VolumeZip/ZenlessZoneZero_3.1.0_AS.zip.003","md5":"856F92C9B9E3D67FAA133AEFC6266931","size":"776470[...]
