interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"U5hbdsT9W7","biz":"nap_global"},"main":{"package_id":"qsoIbfMm4x","branch":"main","password":"lh0OmNjbhG9x","tag":"2.5.0","diff_tags":["2.4.0","2.3.0"],"categories":[{"category_id":"10037","matching_field":"game","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10066","matching_field":"71300","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10065","matching_field":"10108","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10068","matching_field":"31003","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10067","matching_field":"10202","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10069","matching_field":"71500","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{[...]
