interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_6508212206846113861.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/22/48de742c7ab48b8ad1b25ae7579c096d_7192295705544624235.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/beab753b7e3d2a50b372697647fa2e72_8064756669861889000.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_6312953840017286157.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_7622002898463700803.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6d1cf7d5575dfb9d0518ba9ecb42ad7c\",\"size\":116372},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/09/22/4cc51f558225dba65cc875ecd642cfe2_6726801704251292131.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/11/56468a48fa2f0e736cd0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"hYA73lPUeE\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/03/26d0b21d288e310f91b964fee366decb_5155402177155125406.jpg\",\"link\":\"https://youtu.be/06G8YgOrXTw\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"VmLBUOqXab\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/415cb5cc16946c677f2b4bac4a21bad2_7239023240442110075.png\",\"link\":\"https://www.hoyolab.com/article/43562647?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"PdS6dRnG9R\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/30/187b5ad2b4e7e46f18fbea83e9cbd6cc_6314257108387926452.jpg\"[...]
