interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/07/03/cc8b0308b38e88a7aea2ef354bf22f25_3217043451246839286.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/24/44c00562adb813afd747d7d3d8b4798b_4773251899566828415.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/208c9afce9a8e833a78ea395a82f694f_5197929945768342183.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/5d0c30a75a33603d47ce2951fe01f818_2140932344770797464.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/07/03/db09aee152fba8cee4b81beae729a50b_1202929997430765842.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"db09aee152fba8cee4b81beae729a50b\",\"size\":270398},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":null,\"introduction\":\"An
        original IP action game proudly presented by HoYoverse.\\nWelcome to New Eridu
        \u2014 Where humanity rises anew!\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/05/14/4cc51f558225dba65cc875ecd642cfe2_3953701878866583418.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/08/67db8230f6db9c6d0b34[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"kkRSVrEIHw\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/30/08db622fd9c1d75ac8e27d05296a45f5_4766283941100050696.jpg\",\"link\":\"https://hoyo.link/bot3U727x\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"30spxevYLu\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/30/a1c0849ff5651df35c9d64e214e8e704_8381166720250210322.jpg\",\"link\":\"https://www.hoyolab.com/article/46038839?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"pPO19qYP5P\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/30/bf8414226b95eaa353af189e787345b3_4164939285227045606.png\",\"link\":\"https://youtu.be/ZDF7WGT6VZs\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"AJdC1sspyR\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/27/e187b9061dabfe046f97fdd8b3a106e3_5111752795082205099.jpg\",\"link\":\"https://youtu.be/U-is5u-WYVg\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"T2ph6rJytd\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/26/6e4fdb17ca61091b4abaabf9eafd5912_3322740225499157929.png\",\"link\":\"https://youtu.be/IYD25XaDBj8\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"fcq6b8nVYk\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/24/5de902bfa32590d6cca5ef4c4b7de361_6776284654277822739.png\",\"link\":\"https://youtu.be/ZOHQFFSFtHc\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"T8lu6UJUEL\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\U0001F381
        Die Sondersendung \u201EPhaethons grandiose Enth\xFCllung des Jahres\u201C
        ist im Gange! Nimm an der Aktion teil und gewinne eine limitierte Dekoration!\",\"link\":\"https://www.hoyolab.com/article/46038839?utm_source=launcher\\u0026utm_medium=event\\u0026utm_id=8\",\"date\":\"07/30\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"jSj9fGwWP5\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"[Gewinnaktion]
        R\xFCckkehr nach Ridu: Wiedersehen im Federfall\",\"link\":\"https://hoyo.link/Wxq72701F\",\"date\":\"07/30\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"blSOUl6pKk\",\"type\":\"POST_TYPE_INFO\",\"title\":\"ZTALK
        | Hinter dem Design von Remielle\",\"link\":\"https://youtu.be/ZDF7WGT6VZs\",\"date\":\"07/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"T8M7ZOHZym\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Zeitlich
        begrenzte Kan\xE4le der Version 3.1\",\"link\":\"https://www.hoyolab.com/article/45467484?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"07/27\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"5dakJF4NbU\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Neue
        Handlung: Haupthandlung von Saison 3 \u2013 Kapitel 2 \u201EDer lange Abschied\u201C\",\"link\":\"https://www.hoyolab.com/article/46015792?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"07/27\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"5U2qmVmuN6\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Minialbum
        f\xFCr Remielle \u2013 \u201EZum Tango geh\xF6ren zwei\u201C | Zenless Zone
        Zero\",\"link\":\"https://youtu.be/U-is5u-WYVg\",\"date\":\"07/27\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"thLNFKDjoD\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\U0001F381Animationskurzvideo
        von Remielle \u2013 \u201ETag der Stille\u201C | Zenless Zone Zero\",\"link\":\"https://x.com/ZZZ_DEU/status/2081324090376208674\",\"date\":\"07/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"b5sNvOKNY8\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Animationskurzvideo
        von Remielle \u2013 \u201ETag der Stille\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/IYD25XaDBj8\",\"date\":\"07/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"r8UR3rRiVi\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Figurenvorf\xFChrung
        f\xFCr Remielle \u2013 \u201EGenau wie damals\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/ZOHQFFSFtHc\",\"date\":\"07/24\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"RGNi0hBt1K\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/06/ca9481b418f0cf5ea7acafffa9f82df9_2461729194712753371.png\",\"hover_url\":\"\",\"link\":\"https://www.hoyolab.com/accountCenter/postList?id=219270333\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"5L8vITtRYd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/06/512e894ffd009e3b208bcbee87291bde_174804553663942576.png\",\"hover_url\":\"\",\"link\":\"https://www.reddit.com/r/ZZZ_Official/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"K3DtUCB8ll\",\"icon\":{\"url\":\"htt[...]
