interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"exe_file_name\":\"ZenlessZoneZero.exe\",\"installation_dir\":\"ZenlessZoneZero
        Game\",\"audio_pkg_scan_dir\":\"ZenlessZoneZero_Data/Persistent/audio_lang_launcher\",\"audio_pkg_res_dir\":\"ZenlessZoneZero_Data/StreamingAssets/Audio\",\"audio_pkg_cache_dir\":\"ZenlessZoneZero_Data/Persistent/Audio\",\"game_cached_res_dir\":\"ZenlessZoneZero_Data/Persistent\",\"game_screenshot_dir\":\"ScreenShot\",\"game_log_gen_dir\":\"%userprofile%/AppData/LocalLow/miHoYo/ZenlessZoneZero\",\"game_crash_file_gen_dir\":\"%userprofile%\\\\AppData\\\\Local\\\\Temp\\\\miHoYo\\\\ZenlessZoneZero\\\\Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":true,\"local_res_dir\":\"ZenlessZoneZero_Data/StreamingAssets\",\"local_res_cache_dir\":\"ZenlessZoneZero_Data/Persistent\",\"res_category_dir\":\"ZenlessZoneZero_Data/Persistent/res_category_launcher\",\"game_res_cut_dir\":\"file_category_launcher\",\"enable_game_log_export\":false,\"game_log_export_config\":null,\"blacklist_dir\":\"\",\"wpf_exe_dir\":\"\",\"wpf_pkg_version_dir\":\"\",\"enable_audio_pkg_mgmt\":false,\"audio_pkg_config_dir\":\"\",\"enable_resource_deletion_adapter\":true,\"enable_resource_blacklist\":false,\"enable_redundant_file_cleanup\":false,\"redundant_file_cleanup_paths\":[],\"enable_v2_game_detection\":false,\"related_processes\":[],\"enable_ldiff\":false,\"scenario_pkg_info\":{\"full_pkg_name\":\"Full
        Version Download Details\",\"full_pkg_desc\":\"Selecting Full Version will
        download all game content for the best experience.\\nFull Version includes:
        all main story content, event mission resources (videos, audio, scenes, etc.).
        Proxies can also manually delete completed content later in [More] \\u003e
        [Resource Management] under the Options interface.\",\"base_pkg_name\":\"Base
        Resources Download Details\",\"base_pkg_desc\":\"If you choose Base Resources,
        only the essential resources required to run the core game will be downloaded.\\nThe
        core game's Base Resources include: Mission resources from the main story
        Prologue (Business X Strangeness X Justness) to Chapter 2 (A Call From the
        Hollow's Heart), as well as the latest mission resources available in the
        current version.\"},\"local_scenario_config_path\":\"ZenlessZoneZero_Data\\\\Persistent\\\\KBasePackage\",\"enable_full_pkg_recommend\":true,\"enable_scenario_pkg\":true,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"},{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"exe_file_name\":\"StarRail.exe\",\"installation_dir\":\"Star
        Rail Games\",\"audio_pkg_scan_dir\":\"StarRail_Data/Persistent/AudioLaucherRecord.txt\",\"audio_pkg_res_dir\":\"StarRail_Data/Persistent/Audio/AudioPackage/Windows\",\"audio_pkg_cache_dir\":\"\",\"game_cached_res_dir\":\"StarRail_Data/Persistent\",\"game_screenshot_dir\":\"StarRail_Data/ScreenShots\",\"game_log_gen_dir\":\"\",\"game_crash_file_gen_dir\":\"%temp%/Cognosphere/Star
        Rail/Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":true,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":true,\"game_log_export_config\":{\"file_size_filter\":\"10485760\",\"export_timeout\":\"120\",\"export_files\":[{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\COGNOSPHERE\\\\Star
        Rail\\\\Player.log\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\COGNOSPHERE\\\\Star
        Rail\\\\output_log.txt\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\COGNOSPHERE\\\\Star
        Rail\\\\output_log.txt.last\"},{\"file_type\":\"EXPORT_FILE_TYPE[...]
