interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=VYTpXlbWo8&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"version":"4.1.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/25/98a2cef485eb660373810a8a3c7560f4_4819699705121755284.zip","md5":"98a2cef485eb660373810a8a3c7560f4","size":"8187219","decompressed_size":"16374438"},"pkg_version_file_name":"sdk_pkg_version"},{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"version":"2.46.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/08/cde59f850aa39da267cf264ee8d3663a_1482561387769075393.zip","md5":"cde59f850aa39da267cf264ee8d3663a","size":"8187446","decompressed_size":"16374892"},"pkg_version_file_name":"sdk_pkg_version"},{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"version":"2.45.1","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/08/104062b5f6511c942104839b4894f7ae_6028887012417676083.zip","md5":"104062b5f6511c942104839b4894f7ae","size":"8187139","decompressed_size":"16374278"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 102cfd3feecf1949:102cfd3feecf1949:0:1
    status:
      code: 200
      message: OK
version: 1
