interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"wpf_package":{"version":"6.5.0.43489938","url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20260330155419_GIm2Ka73AExll9uR/BeyondAssets_OS_6.5.0.43489938.zip","md5":"3428cb9213e7b4549960feb854b76123","size":"432598791"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4f92ebf50b74f2b7:4f92ebf50b74f2b7:0:1
    status:
      code: 200
      message: OK
version: 1
