interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"wpf_package":{"version":"6.7.0.45808591","url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20260623182046_BfmzGUZxZUHlayx1/BeyondAssets_OS_6.7.0.45808591.zip","md5":"f3e68cd24535d0afc261dd398df004a0","size":"454992465"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 47023c2b4b834211:47023c2b4b834211:0:1
    status:
      code: 200
      message: OK
version: 1
