interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"U5hbdsT9W7","biz":"nap_global"},"backgrounds":[{"id":"Wv0w7u5Abw","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/ac79acdb7b57479384b599aaf466d0ab_1975470161538517737.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/44628155?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/0257a2096f3aaa90000edd89a7a69302_4544394785191022906.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/2ccba19cc67331bd12e0f6e075cf4b7a_6773506165357380774.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"backgrounds":[{"id":"qs7sbWfF4O","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/0672611a32e2c4ede865f19f14245389_5966827996012668478.webp","link":"","login_state_in_link":false},"icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/812c894301700728f9f121389dd78d0f_4696738154009739053.png","hover_url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/f621a[...]
