interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_6508212206846113861.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/06/11/801757024d78b9f2b29e7bff8c9df077_973480424277131384.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/208c9afce9a8e833a78ea395a82f694f_5197929945768342183.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/5d0c30a75a33603d47ce2951fe01f818_2140932344770797464.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_7622002898463700803.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6d1cf7d5575dfb9d0518ba9ecb42ad7c\",\"size\":116372},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/06/11/e039adca6e42c3ebb7d2eaf571401a2a_2512250262818340281.png\",\"link\":\"\",\"login_state_in_link\":false},\"introduction\":\"An
        original IP action game proudly presented by HoYoverse.\\nWelcome to New Eridu
        \u2014 Where humanity rises anew!\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/05/14/4cc51f558225dba65cc875ecd642cfe2_3953701878866583418.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/08/67db8230f6db9c6d0b34[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"WX0ap6Sp8R\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/13/3bdcc1e3eaa4aee8afb688b59335f999_5765057433191196533.jpg\",\"link\":\"https://www.hoyolab.com/article/45832085?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"e65wU03gR4\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/06/e12c70a14234d706e1035f4bf5063520_8382688484999100774.png\",\"link\":\"https://youtu.be/QBGEahKfeco\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"a3U4WihPiJ\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/07/06/9a24733d0319993182e76145860ed7ca_7173188404638901405.jpg\",\"link\":\"https://youtu.be/bkQrxOfA2mE\",\"login_state_in_link\":fal[...]
