interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"U5hbdsT9W7","biz":"nap_global"},"main":{"package_id":"qsoIbfMm4x","branch":"main","password":"lh0OmNjbhG9x","tag":"3.1.0","diff_tags":["3.0.0","2.8.0"],"categories":[{"category_id":"10037","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL","CATEGORY_SCENARIO_BASE"]},{"category_id":"10135","matching_field":"10100","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL","CATEGORY_SCENARIO_BASE"]},{"category_id":"10128","matching_field":"10101","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL","CATEGORY_SCENARIO_BASE"]},{"category_id":"10134","matching_field":"10102","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL","CATEGORY_SCENARIO_BASE"]},{"category_i[...]
