interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"backgrounds":[{"id":"qs7sbWfF4O","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/0672611a32e2c4ede865f19f14245389_5966827996012668478.webp","link":"","login_state_in_link":false},"icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/812c894301700728f9f121389dd78d0f_4696738154009739053.png","hover_url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/f621a0d0ed7ef34bcadb93a08d4c32d9_4863673954136254872.png","link":"https://act.hoyoverse.com/puzzle/hkrpg/e20260410version_1370/index.html?game_biz=hkrpg_global\u0026hyl_presentation_style=fullscreen\u0026hyl_auth_required=true\u0026hyl_landscape=true\u0026hyl_hide_status_bar=true\u0026mode=fullscreen\u0026win_mode=fullscreen","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/bd329019a99f57eedd89a27c138679dc_7829147599347937825.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/cc680dac190c4471f7a819581a57b55c_4272214339299667076.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"heguJtT44e","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/debe0e47492d461c5e553b708aaf6d58_2578565704405203718.webp","link":"","login_state_in_link":false},"icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/32c8101bed4ba37462d938b381b43e03_7774955656907951078.png","hover_url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/14518e4f82860d1b5be9e33ee6d85b37_8973443855083393531.png","link":"https://hoyo.link/nCGwt8ufA","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3da23155068778b2:3da23155068778b2:0:1
    status:
      code: 200
      message: OK
version: 1
