interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=FpjStNkPwp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"aQ3R4jKmdo","game_exe_list":[{"version":"3.0.0","md5":"eb8ee0dd5c5a7dd9aec6569182886539"},{"version":"2.7.0","md5":"2f54c8b747935132943b8a161c79c9ad"},{"version":"2.8.0","md5":"52481c54e1c4809e0771a221714a87c4"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7ed45c7d242c3fda:7ed45c7d242c3fda:0:1
    status:
      code: 200
      message: OK
version: 1
