interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"backgrounds":[{"id":"qtd26lI0bT","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/ad1a62f5d542bc8c82d19082032b0247_3238117600041523340.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/8d882c8579b027cec7f2d21aa90f1ffd_8728987487003852833.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/a9b692a16bb54fa3f9ba788f578ade75_4547551574381697283.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26ae17722137831977685e
      X-Trace-Id:
      - 1f934661bac7bc62:1f934661bac7bc62:0:1
    status:
      code: 200
      message: OK
version: 1
