interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePlugins?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"plugin_releases":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"plugins":[{"plugin_id":"6pTwaU8o9J","release_id":"mezsVEQusT","version":"1.0.0","plugin_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/04/1749023780753/useless_sys_global_1.7.0.zip","md5":"9994b458731c43aeed249673923648b8","size":"367394","decompressed_size":"734788","command":"useless_sys_global.exe","validation":"[{\"path\":\"useless_sys_global.exe\",\"md5\":\"c4db82ebe76aee218db0f28964460c77\",\"size\":\"971456\"}]"}},{"plugin_id":"sB35Gp5pdE","release_id":"XbU7ot68M0","version":"1.0.1","plugin_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/24/1727161810566/DXSETUP.zip","md5":"ca2ac3835d7d7da6cb8624fefb177083","size":"100647892","decompressed_size":"201295784","command":"DXSETUP/DXSETUP.exe
        /silent","validation":"[{\"path\":\"DXSETUP/Apr2005_d3dx9_25_x64.cab\",\"md5\":\"fe9e6[...]
