interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9517774754680783326e
      X-Trace-Id:
      - 2207c36830bc9f2c:2207c36830bc9f2c:0:1
    status:
      code: 200
      message: OK
version: 1
