interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGamePackages?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"main":{"major":{"version":"2.6.0","game_pkgs":[{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260120112610_qW4cyeiXRrJMM96u/VolumeZip/juequling_2.6.0_AS.zip.001","md5":"D9E547EABC9AA895DD9798560EE3C99D","size":"6606028800","decompressed_size":"14533263361"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260120112610_qW4cyeiXRrJMM96u/VolumeZip/juequling_2.6.0_AS.zip.002","md5":"6CB709F3970D20476D0E4CCDF5C7FDC0","size":"6606028800","decompressed_size":"14533263361"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260120112610_qW4cyeiXRrJMM96u/VolumeZip/juequling_2.6.0_AS.zip.003","md5":"532C39FA255EF71E11BEFD7938F27098","size":"6606028800","decompressed_size":"145[...]
