interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"backgrounds":[{"id":"hdMcL0ih4e","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/bea9b94160cd36b44cdd9ac5c99a5603_5549881055773928355.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/30/a1b387b4bdafde39c28131c03a5ed077_6534029392403241974.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/e82c3508033fdf5ffa11479a6671de1f_600914488622295939.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5a49817689193326145393e
      X-Trace-Id:
      - b8e85933d30f9c8:b8e85933d30f9c8:0:1
    status:
      code: 200
      message: OK
version: 1
