interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=jGHBHlcOq1
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/894b89b5aaea805f6420156c7c07a1a3_6035695844148120.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/29/9c292f1e51d981570d564a23d54ff980_1578932844527767162.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/4d01fedaacb10d62dbff582efcb510ec_1685719073802873548.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_4021555478305388652.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/bb9aa0b6571192dfbf2c44c5c6a85bd7_7848366973571592552.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bb9aa0b6571192dfbf2c44c5c6a85bd7\",\"size\":124455},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/09/22/d824123e77e762a0f350df1b560dcad0_3376378154035797886.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/66c1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=x6znKlJ0xK
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"4kSM6pcsA7\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/12/7b470f13957b71abef507a0ca656e8ba_9035621314740821637.png\",\"link\":\"https://www.miyoushe.com/zzz/article/73154955\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"omYbjMmCYR\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/13/bbe5577ca26333aeed2869c0ecf8ad96_3673388224077404008.png\",\"link\":\"https://www.miyoushe.com/zzz/article/73184166\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"hXw0QB5yyi\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/14/de6fbbf888df7b95f6f3a2a9bf8e76f9_8861439826059452275.jpg\",\"link\":\"https://www.miyoushe.com/zzz/article/73236725\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"2a8y3mJBy7\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/07/1ebea1ede4e66d113aab5acb2a566c16_7984168232826989501.jpg\",\"link\":\"https://www.miyoushe.com/zzz/article/73021881\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"o6J0yNEdrk\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/05/6a4eccef07b2ad6220a21d1f41bff4ba_9079091059230540581.jpg\",\"link\":\"https://www.miyoushe.com/zzz/article/72966623\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"NNJTUBXOcR\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u672A\u5F52\u6863\u5F71\u50CF\u4E28\u7231\u82AE\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/article/73558163\",\"date\":\"02/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"3Vvxf3M1L4\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u7231\u82AE\u517B\u6210\u6750\u6599\u9884\u544A\",\"link\":\"https://www.miyoushe.com/zzz/article/73227871\",\"date\":\"02/14\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"rEGP8TYorW\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4E3D\u90FD\u4FEE\u847A\u6F2B\u8C08Vol.8\uFF1A\u7CFB\u7EDF\u4E0E\u73A9\u6CD5\u66F4\u65B0\u7BC7\",\"link\":\"https://www.mi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=64kMb5iAWu
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"cdDFcPwe2y\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/27/1fbacb231ccb64bb047b3acb335f9baa_7404520913295[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=1Z8W5NHUQb
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"1Z8W5NHUQb\",\"biz\":\"hk4e_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"pnC2K5eE8l\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/25/a40ad1a6a293fb8f2d441fc0d42231a8_45799007286816[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=osvnlOc0S8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"osvnlOc0S8\",\"biz\":\"bh3_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"9cEeDbiuhj\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/10/0ea554487f23c18331e9277e3f51f4b2_423879359972111[...]
