interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"backgrounds":[{"id":"wh2JApVslN","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/ac5d6d36073066a134f140edf159f325_7404757685105155156.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/3c6b69660d825ae3c226bea652af4b07_5386974954123086403.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/501e9e340cd5006981d4b396a9649d78_611738546612503356.png","link":"https://act.hoyoverse.com/ys/event/e20210601blue_post/vert.html?gamewebview=1\u0026page_sn=8b1ab2d98664411d\u0026mode=fullscreen\u0026game_biz=hk4e_global\u0026sign_type=2\u0026auth_appid=bluepost\u0026authkey_ver=1","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/f3c44cd72c6214ed680afe5fe90b26fc_2977651373119341748.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/80b7cc6ef41cf398b59dff6b46dc6a53_5451750716622314009.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"3rGo0JGRMV","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/041d8fe452529cd44bcd35a9291d0fed_8056328704205937096.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/3c6b69660d825ae3c226bea652af4b07_4548071550113334452.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/501e9e340cd5006981d4b396a9649d78_6336530427835044819.png","link":"https://act.hoyoverse.com/ys/event/e20210601blue_post/vert.html?gamewebview=1\u0026page_sn=8b1ab2d98664411d\u0026mode=fullscreen\u0026game_biz=hk4e_global\u0026sign_type=2\u0026auth_appid=bluepost\u0026authkey_ver=1","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 5514dfd635bf1974:5514dfd635bf1974:0:1
    status:
      code: 200
      message: OK
version: 1
