interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"uxB4MC7nzC","biz":"bh3_global"},"backgrounds":[{"id":"kkYea7DHIV","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/06966e7f9c65374c05d9beff0e069aed_8415286772435487856.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/31b05915030eed21766c10b25ff1953e_7871397116001888101.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/86bf447d415893e5ae4f632d728fd8a1_6712125875204995172.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"gQPDKFahxq","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/03e1ea804a5a38aa4c3e6fb3cb19b85d_8918353933017633470.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 78f1059182d2ae63:78f1059182d2ae63:0:1
    status:
      code: 200
      message: OK
version: 1
