interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"4ziysqXOQ8","biz":"hkrpg_global","display":{"language":"en-us","name":"Honkai
        Star Rail","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/15/3121d3786d0e84aed5bf378746c3bd34_4203533688348646963.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":null,"logo":null,"thumbnail":null,"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/15/9f845db46ff7a1d610873e06a62af0a0_1779860099599329236.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"9f845db46ff7a1d610873e06a62af0a0","size":541676},"wpf_icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"top_left_logo":null,"introduction":""},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 30cda61f2ed39055:30cda61f2ed39055:0:1
    status:
      code: 200
      message: OK
version: 1
