interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9c17779945348872201e
      X-Trace-Id:
      - 46c2161929642dec:46c2161929642dec:0:1
    status:
      code: 200
      message: OK
version: 1
