interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"main":{"major":{"version":"2.6.0","game_pkgs":[{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260120112953_xXoIrAlHW41h2hPg/VolumeZip/ZenlessZoneZero_2.6.0_AS.zip.001","md5":"094B272A00F277AF2799AAAE1142A429","size":"6607077376","decompressed_size":"14535570228"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260120112953_xXoIrAlHW41h2hPg/VolumeZip/ZenlessZoneZero_2.6.0_AS.zip.002","md5":"D41AF2454DE490FD5419C4EE67D21465","size":"6607077376","decompressed_size":"14535570228"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260120112953_xXoIrAlHW41h2hPg/VolumeZip/ZenlessZoneZero_2.6.0_AS.zip.003","md5":"2F3BBF035A917DCC85E757923ADB5CBF","size":"660707[...]
