interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"4ziysqXOQ8","biz":"hkrpg_global","display":{"language":"en-us","name":"Honkai
        Star Rail","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/09/22/4cc51f558225dba65cc875ecd642cfe2_7265423663688588850.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":null,"logo":null,"thumbnail":null,"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/09/01/17cf9eb7905c972059e648c9d1eddb84_4090972074732121243.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"17cf9eb7905c972059e648c9d1eddb84","size":340872},"wpf_icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0}},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 161339144ef0aff:161339144ef0aff:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=gGoJxKOusQ&game_id=4ziysqXOQ8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"language\":\"\",\"banners\":[{\"id\":\"w5FA2bE5lC\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/26/2586e9404a3af485175849a7fa964b14_3484916378730152295.jpg\",\"link\":\"https://youtu.be/7ia3b_9-znQ\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"37izR74WWR\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/26/8edf1e05fa0fe686454bec1736ec37d8_4042061708569234290.png\",\"link\":\"https://hoyo.link/MKDnRsBQe\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"kVsa5Ron2v\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/25/1a6e7f9145baefa6b728ef9e9157938a_288693924774149133.png\",\"link\":\"https://youtu.be/emJpxn4Ibj0\",\"login_state_in_link\":false[...]
