interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=jGHBHlcOq1&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9517779945380344817e
      X-Trace-Id:
      - 57c82391b11a4a3c:57c82391b11a4a3c:0:1
    status:
      code: 200
      message: OK
version: 1
