interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"backgrounds":[{"id":"xKlsq2jwgG","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/b286b9470e3aaf91b7440477bd2ecb05_457449656440005134.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/7e25cec11e52875e74fe90ad22ae2219_7966904118520293895.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/e622576f201a21b172d7cda33f746632_2768452016331177253.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79a17701271352974999e
      X-Trace-Id:
      - 1ecbf0a403d04160:1ecbf0a403d04160:0:1
    status:
      code: 200
      message: OK
version: 1
