interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=xV0f4r1GT0&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79617701271366821432e
      X-Trace-Id:
      - 49d5193b4ebd8264:49d5193b4ebd8264:0:1
    status:
      code: 200
      message: OK
version: 1
