interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=xV0f4r1GT0&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d269617722137790093905e
      X-Trace-Id:
      - 505b3ff4fd37930d:505b3ff4fd37930d:0:1
    status:
      code: 200
      message: OK
version: 1
