interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c7a717701271318087741e
      X-Trace-Id:
      - 4c6bd26205257829:4c6bd26205257829:0:1
    status:
      code: 200
      message: OK
version: 1
