interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameConfigs?launcher_id=umfgRO5gh5
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"T2S0Gz4Dr2\",\"biz\":\"hk4e_cn\"},\"exe_file_name\":\"YuanShen.exe\",\"installation_dir\":\"Genshin
        Impact Game\",\"audio_pkg_scan_dir\":\"YuanShen_Data/Persistent/audio_lang_14\",\"audio_pkg_res_dir\":\"YuanShen_Data/StreamingAssets/AudioAssets\",\"audio_pkg_cache_dir\":\"YuanShen_Data/Persistent/AudioAssets\",\"game_cached_res_dir\":\"YuanShen_Data/Persistent\",\"game_screenshot_dir\":\"ScreenShot\",\"game_log_gen_dir\":\"%userprofile%/AppData/LocalLow/miHoYo/\u539F\u795E\",\"game_crash_file_gen_dir\":\"%userprofile%/AppData/Local/Temp\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":false,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":false,\"game_log_export_config\":null,\"blacklist_dir\":\"\",\"wpf_exe_dir\":\"BeyondAssets/BeyondAssistEditor/BeyondEditor.exe\",\"wpf_pkg_version_dir\":\"beyond_pkg_version\",\"enable_audio_pkg_mgmt\":false,\"audio_pkg_config_dir\":\"\",\"enable_resource_deletion_adapter\":false,\"enable_resource_blacklist\":false,\"enable_redundant_file_cleanup\":false,\"redundant_file_cleanup_paths\":[],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":true,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9b17779945275855356e
      X-Trace-Id:
      - 6a0fd27b8cd6778c:6a0fd27b8cd6778c:0:1
    status:
      code: 200
      message: OK
version: 1
