interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_6508212206846113861.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/27/86ca4c5d44e1558553ba7974c015252c_191930292326443479.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/208c9afce9a8e833a78ea395a82f694f_5197929945768342183.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/09/5d0c30a75a33603d47ce2951fe01f818_2140932344770797464.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_7622002898463700803.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6d1cf7d5575dfb9d0518ba9ecb42ad7c\",\"size\":116372},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":null,\"introduction\":\"An
        original IP action game proudly presented by HoYoverse.\\nWelcome to New Eridu
        \u2014 Where humanity rises anew!\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/15/3121d3786d0e84aed5bf378746c3bd34_89276922000163047.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/16/a8aa2ce730f7ead7ccd00d[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"UvhD2dq75G\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/69892bb9128bc213963140072c87b816_1421046388136840774.jpg\",\"link\":\"https://youtu.be/_FGukgxZtE4\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"yL06BdVIMH\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/78d61661f0612684217dce26a2256e53_1644831630991523718.jpg\",\"link\":\"https://youtu.be/pw_-QPXzlSA\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"UKsWTRiw8a\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/1d42ddd954445dde4301c2bf884bdcfc_8355402511680316585.png\",\"link\":\"https://www.hoyolab.com/article/44878095?utm_source=launch[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=4ziysqXOQ8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"language\":\"\",\"banners\":[{\"id\":\"Z5fZR6VqSG\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/01/20582c433ff50d8b406be28a13f4f893_80477155[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=gopR6Cufr3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"gopR6Cufr3\",\"biz\":\"hk4e_global\"},\"language\":\"\",\"banners\":[{\"id\":\"cPFmX6vUz1\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/30/c23401f433d44e5bc1943b68fb00e972_477478038[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=5TIVvvcwtM
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"5TIVvvcwtM\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"Y9GDVm9PXe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/29/d51fe7d4378f7921300720ef17bf243d_674342466332372584.png\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"z8d037zTmE\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/28/6ae3a5c6d7e57a93017e10e7251c1b6a_5645212713403095499.png\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"MqSQf8GKQD\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/24/b5b55766e438fa854e35a9b42fef9c7e_7495981381542546787.png\",\"link\":\"https://youtu.be/yndQJUDhL4I\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"yC0XBeebL9\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Update-Ank\xFCndigung
        f\xFCr v8.8 \\\"Im Datenmeer treibend\\\"\",\"link\":\"https://hoyo.link/HgTck0tX5\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"EOJmrsYAlR\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"Umfrage
        zum ersten Eindruck von Bailu Youyun | Nimm teil f\xFCr die Chance, eine 100-$-Geschenkkarte
        zu gewinnen! Ein serverweiter Gutscheincode f\xFCr 100 Kristalle wartet ebenfalls
        auf dich~\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"v3RX7uVzA9\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Die
        neue AstralOp \\\"Bailu Youyun\\\" und der G\xF6tterschl\xFCssel \\\"Blaues
        Donner-Sternenschiff EX19\\\" feiern ihr Deb\xFCt!\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"date\":\"04/29\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"dvOv2I2Gt2\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1100616699269552016.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/global\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"6fRUWl54T7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_6757827193489975771.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/global.honkaiimpact\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tE3lIeMEim\",\"icon\":{\"url\[...]
