interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"main":{"package_id":"ScSYQBFhu9","branch":"main","password":"bDL4JUHL625x","tag":"6.3.0","diff_tags":["6.2.0","6.1.0"],"categories":[{"category_id":"10016","matching_field":"game"},{"category_id":"10017","matching_field":"zh-cn"},{"category_id":"10018","matching_field":"en-us"},{"category_id":"10020","matching_field":"ja-jp"},{"category_id":"10019","matching_field":"ko-kr"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 12a0449571ed166f:12a0449571ed166f:0:1
    status:
      code: 200
      message: OK
version: 1
