interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=jGHBHlcOq1
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/894b89b5aaea805f6420156c7c07a1a3_6035695844148120.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/22/48de742c7ab48b8ad1b25ae7579c096d_5821796473641823127.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/4d01fedaacb10d62dbff582efcb510ec_1685719073802873548.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_4021555478305388652.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/bb9aa0b6571192dfbf2c44c5c6a85bd7_7848366973571592552.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bb9aa0b6571192dfbf2c44c5c6a85bd7\",\"size\":124455},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/09/22/d824123e77e762a0f350df1b560dcad0_3376378154035797886.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/5646[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=x6znKlJ0xK
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"f7oWHv6GV3\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/19/0cc14ff395a5bcfe9f1ff12b0b6efc4f_2272087747890030517.jpg\",\"link\":\"https://www.miyoushe.com/zzz/article/72503829\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"IUN1hndgnV\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/16/3fdcfa1c7c0d8807e063d1440744fe52_8734140711530010653.jpg\",\"link\":\"https://www.miyoushe.com/zzz/article/72392689\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"Ozg3VGoar2\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/369c2f9b3025a6c7b28df030793cfc29_4080673651670757303.png\",\"link\":\"https://www.miyoushe.com/zzz/article/72261675\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"1GgRtsR3wI\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/1e166b579228163a4b9ae44bd81862ea_9138247411964216731.png\",\"link\":\"https://www.miyoushe.com/zzz/article/71868779\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"hqI44PC9Q3\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/02/655496866819f8b9042a901bcf949266_6204980090590720576.png\",\"link\":\"https://www.miyoushe.com/zzz/article/72005222\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"DdhAsoqqz5\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/02/7c02ef368ee8db139ef2c371d7e7c374_7257439290852307086.png\",\"link\":\"https://www.miyoushe.com/zzz/article/72009756\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"25YCNsT32d\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u673A\u5236\u4ECB\u7ECD\u4E28\u53F6\u77AC\u5149\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/article/71771943\",\"date\":\"12/25\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"kXlJNITbbc\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u673A\u5236\u4ECB\u7ECD\u4E28\u7167\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/article/71793482\",\"date\":\"12/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"g7albPuDqL\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u672A\u5F52\u6863\u5F71\u50CF\u4E28\u7167\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/ar[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=64kMb5iAWu
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"tMMDDV4Coe\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/16/5b5a7ed82d9f8896773f71e2d3f5395d_2518802229223[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=1Z8W5NHUQb
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"1Z8W5NHUQb\",\"biz\":\"hk4e_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"LMeYBD5E6i\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/40962972dfde09f561f548fcb8eb5fd8_91794334429471[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=osvnlOc0S8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"osvnlOc0S8\",\"biz\":\"bh3_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"9cEeDbiuhj\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/15/83aa4af628927501042204ef706a6d53_263811838460396[...]
