interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=jGHBHlcOq1&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79717701271430974364e
      X-Trace-Id:
      - 2f6f02f5e7c63319:2f6f02f5e7c63319:0:1
    status:
      code: 200
      message: OK
version: 1
