interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\",\"display\":{\"language\":\"en-us\",\"name\":\"\uBD95\uAD343rd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_4561228993487886361.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/d181190a18375eb77fa923b582160378_7079386488352318022.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/957db4dfac27cb6128d4292721d631af_3509285736011083571.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_7147944388992174426.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/17/b654cc6fb434b7054a3e3fefe1f4a9a0_4502124721140893540.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"b654cc6fb434b7054a3e3fefe1f4a9a0\",\"size\":398969},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[{\"i18n_name\":\"\uBD95\uAD343rd\",\"i18n_description\":\"KR
        Server \",\"package_name\":\"kr_official\",\"auto_scan_registry_key\":\"\uBD95\uAD343rd\",\"package_detection_info\":\"kr_official\",\"game_id\":\"uxB4MC7nzC\",\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\"}]}]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3825f034b3bcf0d1:3825f034b3bcf0d1:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=kkd8eq3Nnd&game_id=uxB4MC7nzC
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"qvjJ0M6Wn5\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/31/c65a7042efbb6898095cce9a37a60a45_8407367742046687502.jpg\",\"link\":\"https://youtu.be/N5pfhMTiHek\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"lXco1VLkBY\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/26/45ecb2a37ad496f9137db54b8df1a187_201970789555184718.png\",\"link\":\"https://youtu.be/LEfPCf6lIOw\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"Z4Jz4iwddS\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u300C\uC5F0\uD68C\uB97C
        \uBB3C\uB4E4\uC774\uB294 \uBE44\uBC00\u300D 8.6 \uBC84\uC804 \uC5C5\uB370\uC774\uD2B8
        \uACF5\uC9C0\",\"link\":\"https://hoyo.link/IO83s5QKK\",\"date\":\"12/31\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"s1PgKVCy1Q\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\uC2E0\uADDC
        S\uAE09 \uCE90\uB9AD\uD130 \uB9AC\uD0C0 \u300C\uBBF8\uC2A4 \uC2A4\uD30C\uC774\u300D
        \uB4F1\uC7A5\",\"link\":\"https://hoyo.link/bQD7kROei\",\"date\":\"12/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"Pg14RIc8C4\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1422415497563797630.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/kr/ko-kr/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"gtz3MAxzVW\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/c209d45e7fc03d110257d5190eca0321_208312782286971833.png\",\"hover_url\":\"\",\"link\":\"https://cafe.naver.com/honkai3rd/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"Y4jBk5ONc3\",\"icon\":{\"url\":\"https://[...]
