interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\",\"display\":{\"language\":\"en-us\",\"name\":\"\uBD95\uAD343rd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_4561228993487886361.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/d181190a18375eb77fa923b582160378_7079386488352318022.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/957db4dfac27cb6128d4292721d631af_3509285736011083571.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_7147944388992174426.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/17/b654cc6fb434b7054a3e3fefe1f4a9a0_4502124721140893540.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"b654cc6fb434b7054a3e3fefe1f4a9a0\",\"size\":398969},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":null,\"introduction\":\"\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[{\"i18n_name\":\"\uBD95\uAD343rd\",\"i18n_description\":\"KR
        Server \",\"package_name\":\"kr_official\",\"auto_scan_registry_key\":\"\uBD95\uAD343rd\",\"package_detection_info\":\"kr_official\",\"game_id\":\"uxB4MC7nzC\",\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\"}]}]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4be03d127ae09137:4be03d127ae09137:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=kkd8eq3Nnd&game_id=uxB4MC7nzC
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"cfgsoZePIx\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/29/b46c6702b227825a9dfc7362e40cf24e_4422498662097775647.png\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"yjt5h6lmqe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/28/2ed6b528b7a7ee99367838d7b4245b8d_7477363267466568239.png\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"Rr7lzPiXr8\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/24/de49c6a89750d6045cf80d6d3322b50e_3269158190404239611.png\",\"link\":\"https://youtu.be/RwhSuCIUQeg\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"tGTAdk4fRI\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u300C\uBC14\uB2E4\uB97C
        \uB5A0\uB2E4\uB2C8\uB294 \uAD6C\uB984\u300D 8.8 \uBC84\uC804 \uC5C5\uB370\uC774\uD2B8
        \uACF5\uC9C0\",\"link\":\"https://hoyo.link/HgTck0tX5\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"KbzgyI5JhS\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\uBC31\uB85D\xB7\uC720\uC6B4
        \uCCAB\uC778\uC0C1 \uC124\uBB38\uC870\uC0AC | \uCC38\uC5EC\uD558\uACE0 $100
        \uAE30\uD504\uD2B8 \uCE74\uB4DC\uB97C \uB178\uB824\uBD10! 100\uC218\uC815
        \uAD50\uD658 \uCF54\uB4DC\uAE4C\uC9C0 \uD568\uC7A5\uC744 \uAE30\uB2E4\uB9AC\uACE0
        \uC788\uB2E4\uAD6C~\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"3n4frzG684\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\uC2E0\uADDC
        \uD611\uB825 \uCE90\uB9AD\uD130 \u300C\uBC31\uB85D\xB7\uC720\uC6B4\u300D \\u0026
        \uC2E0\uC758 \uC5F4\uC1E0 \u300C\uCC3D\uB8B0\uC131\uC0AC EX19\u300D \uB4F1\uC7A5!\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"date\":\"04/29\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"Pg14RIc8C4\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1422415497563797630.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/kr/ko-kr/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"gtz3MAxzVW\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/c209d45e7fc03d110257d5190eca0321_208312782286971833.png\",\"hover_url\":\"\",\"link\":\"https://cafe.naver.com/honkai3rd/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"Y4jBk5ONc3\",\"icon\":{\"url\":\"https://[...]
