interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"backgrounds":[{"id":"xLvvG5keb7","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/1858bfcdb694846618046d3ac3cbf143_5637534585505623918.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/28/e979cbf167ddce9a2bdfcf69092f68a3_2403756733702312648.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/308483c0e88a44eb4cff6e4d47937c0a_1657125338589338460.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9b17779945370446170e
      X-Trace-Id:
      - 47055de5f0408886:47055de5f0408886:0:1
    status:
      code: 200
      message: OK
version: 1
