interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameConfigs?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"launch_configs":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"exe_file_name":"GenshinImpact.exe","installation_dir":"Genshin
        Impact game","audio_pkg_scan_dir":"GenshinImpact_Data/Persistent/audio_lang_14","audio_pkg_res_dir":"GenshinImpact_Data/StreamingAssets/AudioAssets","audio_pkg_cache_dir":"GenshinImpact_Data/Persistent/AudioAssets","game_cached_res_dir":"GenshinImpact_Data/Persistent","game_screenshot_dir":"ScreenShot","game_log_gen_dir":"%userprofile%/AppData/LocalLow/miHoYo/Genshin
        Impact","game_crash_file_gen_dir":"%userprofile%/AppData/Local/Temp","default_download_mode":"DOWNLOAD_MODE_CHUNK","enable_customer_service":true,"local_res_dir":"","local_res_cache_dir":"","res_category_dir":"","game_res_cut_dir":"","enable_game_log_export":false,"game_log_export_config":null,"blacklist_dir":"","wpf_exe_dir":"BeyondAssets/BeyondAssistEditor/BeyondEditor.exe","wpf_pkg_version_dir":"beyond_pkg_version","enable_audio_pkg_mgmt":false,"audio_pkg_config_dir":"","enable_resource_deletion_adapter":false,"enable_resource_blacklist":false,"enable_redundant_file_cleanup":false,"redundant_file_cleanup_paths":[],"enable_v2_game_detection":false,"related_processes":[""],"enable_ldiff":true}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3cc3bdd959737881:3cc3bdd959737881:0:1
    status:
      code: 200
      message: OK
version: 1
