interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=0hUu4SbmhI&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"version":"2.4.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/11/10/c0080ed3433d572e64c8a40adf17f201_769022417856581807.zip","md5":"c0080ed3433d572e64c8a40adf17f201","size":"8187234","decompressed_size":"16374468"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 15b4692464158c48:15b4692464158c48:0:1
    status:
      code: 200
      message: OK
version: 1
