interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=umfgRO5gh5&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9717779945278318589e
      X-Trace-Id:
      - 601b35c4bd5c6300:601b35c4bd5c6300:0:1
    status:
      code: 200
      message: OK
version: 1
