interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"backgrounds":[{"id":"OalqjI1W3B","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/ad1a62f5d542bc8c82d19082032b0247_3262521827013033861.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/43616671?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/8d882c8579b027cec7f2d21aa90f1ffd_7312615389059289931.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/ea546952f7b10bc841de73dcfe64ebb4_5078954974633428420.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2bca1afbc11ad409:2bca1afbc11ad409:0:1
    status:
      code: 200
      message: OK
version: 1
