interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=xV0f4r1GT0&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9617779945346322322e
      X-Trace-Id:
      - 11dc64a1c000fdf0:11dc64a1c000fdf0:0:1
    status:
      code: 200
      message: OK
version: 1
