interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"wpf_package":{"version":"6.3.0.41515171","url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20260108110251_IHYu3NSghCjLXtCX/BeyondAssets_OS_6.3.0.41515171.zip","md5":"e66d749b28fe6db5c38a7554df7a8b76","size":"364761528"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7748d28574271a9c:7748d28574271a9c:0:1
    status:
      code: 200
      message: OK
version: 1
