interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=FpjStNkPwp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"aQ3R4jKmdo","biz":"nap_global"},"main":{"major":{"version":"3.0.0","game_pkgs":[{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260529102601_EJSAGXWa8IwfrhcO/VolumeZip/ZenlessZoneZero_3.0.0_AS.zip.001","md5":"066C21D6D31D0290CC530968C4278979","size":"7356809216","decompressed_size":"16184980276"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260529102601_EJSAGXWa8IwfrhcO/VolumeZip/ZenlessZoneZero_3.0.0_AS.zip.002","md5":"19708E14C52CEE5DE376DBC10A8A1EB3","size":"7356809216","decompressed_size":"16184980276"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260529102601_EJSAGXWa8IwfrhcO/VolumeZip/ZenlessZoneZero_3.0.0_AS.zip.003","md5":"29089026CBA4556C12358ACA7CABF9DA","size":"735680[...]
