interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"bxPTXSET5t","game_exe_list":[{"version":"8.6.0","md5":"dcc5dc69f214d646c3fa9d935919d5b2"},{"version":"8.5.0","md5":"5eac13ca6c4dbc6cd029190753e809f0"},{"version":"8.4.0","md5":"8155f4fa72889e5684b988e23746a5ef"},{"version":"8.3.0","md5":"59c8a40831cc8efcd1c53176fe316815"},{"version":"8.2.0","md5":"ae4ed28c4e6e5258f4ae3c7bf842d625"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 516f110c833c7ff2:516f110c833c7ff2:0:1
    status:
      code: 200
      message: OK
version: 1
