interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=6P5gHMNyK3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/09/22/e5c62a66bfbdcc75a22886609d99f455_633654188419085063.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":null,\"logo\":null,\"thumbnail\":null,\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/10/14/deb639906f4f2aec8bc40cb63918419c_5421088087272348273.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"deb639906f4f2aec8bc40cb63918419c\",\"size\":38078},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d269d17722137768096208e
      X-Trace-Id:
      - 1f92b6271e885832:1f92b6271e885832:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=6P5gHMNyK3&game_id=EdtUqXfCHh
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"content":{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"language":"","banners":[],"posts":[],"social_media_list":[]}}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a917722137771425207e
      X-Trace-Id:
      - 67af3f933bf63371:67af3f933bf63371:0:1
    status:
      code: 200
      message: OK
version: 1
