interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=6runUel2hp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"g0mMIvshDb","biz":"bh3_global"},"main":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20260421113518_mzG4RcD0f9aNmZEh/BH3_v8.8.0_cec468aad479.7z","md5":"bde554240cf0626b41c25c8986b21d23","size":"25457396026","decompressed_size":"50925277812"}],"audio_pkgs":[],"res_list_url":"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20260421113518_mzG4RcD0f9aNmZEh/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2a993f0585c3c63b:2a993f0585c3c63b:0:1
    status:
      code: 200
      message: OK
version: 1
