interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameConfigs?launcher_id=FpjStNkPwp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"launch_configs":[{"game":{"id":"aQ3R4jKmdo","biz":"nap_global"},"exe_file_name":"ZenlessZoneZero.exe","installation_dir":"ZenlessZoneZero
        Game","audio_pkg_scan_dir":"ZenlessZoneZero_Data/Persistent/audio_lang_launcher","audio_pkg_res_dir":"ZenlessZoneZero_Data/StreamingAssets/Audio","audio_pkg_cache_dir":"ZenlessZoneZero_Data/Persistent/Audio","game_cached_res_dir":"ZenlessZoneZero_Data/Persistent","game_screenshot_dir":"ScreenShot","game_log_gen_dir":"%userprofile%/AppData/LocalLow/miHoYo/ZenlessZoneZero","game_crash_file_gen_dir":"%userprofile%\\AppData\\Local\\Temp\\miHoYo\\ZenlessZoneZero\\Crashes","default_download_mode":"DOWNLOAD_MODE_CHUNK","enable_customer_service":false,"local_res_dir":"ZenlessZoneZero_Data/StreamingAssets","local_res_cache_dir":"ZenlessZoneZero_Data/Persistent","res_category_dir":"ZenlessZoneZero_Data/Persistent/res_category_launcher","game_res_cut_dir":"file_category_launcher","enable_game_log_export":false,"game_log_export_config":null,"blacklist_dir":"","wpf_exe_dir":"","wpf_pkg_version_dir":"","enable_audio_pkg_mgmt":false,"audio_pkg_config_dir":"","enable_resource_deletion_adapter":true,"enable_resource_blacklist":false,"enable_redundant_file_cleanup":false,"redundant_file_cleanup_paths":[],"enable_v2_game_detection":false,"related_processes":[],"enable_ldiff":false,"scenario_pkg_info":null,"local_scenario_config_path":"","enable_full_pkg_recommend":false,"enable_scenario_pkg":false,"enable_dx_switch":true,"enable_write_verify_result":false,"write_verify_result_path":""}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 87bb406aa75c8a4:87bb406aa75c8a4:0:1
    status:
      code: 200
      message: OK
version: 1
