interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=xV0f4r1GT0
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"HXAFlmYa17\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/5bc8aa4cd3c8cfbe80aeb99fb690d952_1674668749329312782.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/06/18/107ec31f7c257bc451f37012d3abbff8_3892272341829750752.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/06/18/4ac0a7c98cf8077d3f23171dff80b78c_5714443885730106993.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/06/18/c29f67e99818cc3b11a86d2f95b01df6_661498822935423610.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/9dc562e367d07e6b763d93ae69722b70_1342162947552587632.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"9dc562e367d07e6b763d93ae69722b70\",\"size\":120953},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d269717722137823147084e
      X-Trace-Id:
      - 1bbc5f004f90e3f8:1bbc5f004f90e3f8:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=xV0f4r1GT0&game_id=HXAFlmYa17
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"content":{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"language":"","banners":[],"posts":[],"social_media_list":[]}}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a217722137828305489e
      X-Trace-Id:
      - 721ee0673fa33879:721ee0673fa33879:0:1
    status:
      code: 200
      message: OK
version: 1
