interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"main":{"major":{"version":"2.5.0","game_pkgs":[{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20251211102134_5R2bpmZ6U1wL4lmz/VolumeZip/ZenlessZoneZero_2.5.0_AS.zip.001","md5":"C4DA0C5ADCF527A4E115859FEEE138A8","size":"6483345408","decompressed_size":"14263359898"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20251211102134_5R2bpmZ6U1wL4lmz/VolumeZip/ZenlessZoneZero_2.5.0_AS.zip.002","md5":"E3A772878D58C3FC2D523D437E7C97DE","size":"6483345408","decompressed_size":"14263359898"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20251211102134_5R2bpmZ6U1wL4lmz/VolumeZip/ZenlessZoneZero_2.5.0_AS.zip.003","md5":"B3509ED6010C3B545325F4B9290CAB1E","size":"648334[...]
