interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"wpf_package":{"version":"6.3.0.41515171","url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20260108110201_vkX3rxY57B05m9Nn/BeyondAssets_CN_6.3.0.41515171.zip","md5":"e1d650f88c82a256c7ee8d30232ca27b","size":"364761976"}}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79f17701271267907212e
      X-Trace-Id:
      - 7454108015cd126f:7454108015cd126f:0:1
    status:
      code: 200
      message: OK
version: 1
