interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"wkE5P5WsIf","game_exe_list":[{"version":"8.8.0","md5":"71e3839c14ce00386e21adb72545edb8"},{"version":"8.7.0","md5":"b8d2978c53cda356011938e41720c896"},{"version":"8.6.0","md5":"9239202c474c91da3f0d7c2552e53a74"},{"version":"8.5.0","md5":"a342c0780668c51bcb22e40d6d3652fe"},{"version":"8.4.0","md5":"f569c0014126e4eb41fd9d6a6c452ca0"},{"version":"8.3.0","md5":"0862483056235528c8b4a1327741e26f"},{"version":"8.2.0","md5":"33a9ca0da1ac48ed605639057d32fe4a"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 1b55b577256e4e5e:1b55b577256e4e5e:0:1
    status:
      code: 200
      message: OK
version: 1
