interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=6P5gHMNyK3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\"},\"exe_file_name\":\"StarRail.exe\",\"installation_dir\":\"Star
        Rail Game\",\"audio_pkg_scan_dir\":\"StarRail_Data/Persistent/AudioLaucherRecord.txt\",\"audio_pkg_res_dir\":\"StarRail_Data/Persistent/Audio/AudioPackage/Windows\",\"audio_pkg_cache_dir\":\"\",\"game_cached_res_dir\":\"StarRail_Data/Persistent\",\"game_screenshot_dir\":\"StarRail_Data/ScreenShots\",\"game_log_gen_dir\":\"\",\"game_crash_file_gen_dir\":\"%temp%/miHoYo/\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053/Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":false,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":true,\"game_log_export_config\":{\"file_size_filter\":\"10485760\",\"export_timeout\":\"120\",\"export_files\":[{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\Player.log\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\output_log.txt\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\output_log.txt.last\"},{\"file_type\":\"EXPORT_FILE_TYPE_DIR\",\"method\":\"EXPORT_METHOD_LATEST_FILE\",\"path\":\"%USERPROFILE%\\\\AppData\\\\Local\\\\Temp\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\Crashes\"},{\"file_type\":\"EXPORT_FILE_TYPE_DIR\",\"method\":\"EXPORT_METHOD_LATEST_FILE\",\"path\":\"%SystemRoot%\\\\Minidump\"}]},\"blacklist_dir\":\"StarRail_Data\\\\Persistent\\\\DownloadBlacklist.json\",\"wpf_exe_dir\":\"\",\"wpf_pkg_version_dir\":\"\",\"enable_audio_pkg_mgmt\":true,\"audio_pkg_config_dir\":\"StarRail_Data\\\\Persistent\\\\Audio\\\\AudioPackage\\\\Windows\\\\AudioLangRedord.txt\",\"enable_resource_deletion_adapter\":true,\"enable_resource_blacklist\":true,\"enable_redundant_file_cleanup\":true,\"redundant_file_cleanup_paths\":[\"StarRail_Data\\\\StreamingAssets\\\\Asb\\\\Windows\"],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":true,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"}],\"game_branches\":[{\"game\":{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\"},\"main\":{\"package_id\":\"HMNH5r9cEH\",\"branch\":\"main\",\"password\":\"nQ2pokX2pFIG\",\"tag\":\"4.2.0\",\"diff_tags\":[\"4.1.0\"],\"categories\":[{\"category_id\":\"10054\",\"matching_field\":\"game\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10055\",\"matching_field\":\"zh-cn\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10056\",\"matching_field\":\"en-us\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10057\",\"matching_field\":\"ja-jp\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10058\",\"matching_field\":\"ko-kr\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]}],\"required_client_version\":\"\"},\"pre_download\":null,\"enable_base_pkg_predownload\":false}],\"game_packages\":[{\"game\":{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\"},\"main\":{\"major\":{\"version\":\"4.2.0\",\"game_pkgs\":[{\"url\":\"https://autopatchcn.bhsr.com/client/cn/20260416111723_yjnthyEQoyS8Mw8v/PC/download/StarRail_4.2.0.7z.001\",\"md5\":\"52536059480B3186646F1848676EAEED\",\"size\":\"7516192768\",\"decompressed_size\":\"15042871296\"},{\"url\":\"https://autopatchcn.bhsr.com/client/cn/20260416111723_yjnthyEQoyS8Mw8v/PC/download/StarRail_4.2.0.7z.002\",\"md5\":\"8CB6B14C36069FF93A0FD3FD25BA55DB\",\"size\":\"7516192768\",\"decompressed_size\":\"15042871296\"},{\"url\":\"https://autopatchcn.bhsr.com/client/cn/20260416111723_yjnthyEQoyS8Mw8v/PC/download/StarRail_4.2.0.7z.003\",\"md5\":\"AB4EABAD1B47D8AA4D84CA1785AF7307\",\"size\":\"7516192768\",\"decompressed_size\":\"15042871296\"},{\"url\":\"https://autopatchcn.[...]
