interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"T2S0Gz4Dr2","game_exe_list":[{"version":"6.5.0","md5":"54c9de48713c629f6c23f410e8db88d9"},{"version":"6.4.0","md5":"7a559cc506f11a7962b1921cd49892c6"},{"version":"6.3.0","md5":"673ef7f2b935c1888e41e5e37004ee70"},{"version":"6.2.0","md5":"ad1d68a3275259f44b984a5940e5936c"},{"version":"6.1.0","md5":"00f198033f9128a3f4247b21bf069be5"},{"version":"6.0.0","md5":"fe877bccc3f34ee0c892010a2a15175c"},{"version":"5.8.0","md5":"7bcd828767067ffb1a964b9b728323ce"},{"version":"5.7.0","md5":"185577735e1f96dc2fd37cbadaaa40bb"},{"version":"5.6.0","md5":"5b53653dc81d796517ff070899b47639"},{"version":"5.5.0","md5":"75a76be547545544b57228f4296a8b1f"},{"version":"5.4.0","md5":"5a57b3c787190ad012ab53f1fb79d65d"},{"version":"5.3.0","md5":"eee020bb5847f3ffc4dc464577567f3b"},{"version":"5.2.0","md5":"98ce2d5a9d409074fb59b4ed8479f0b9"},{"version":"5.1.0","md5":"ca90146f95560b20dc0e5d2ef2b20949"},{"version":"5.0.0","md5":"f2126fd8c29e261438f6998694211278"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9717774754628001293e
      X-Trace-Id:
      - 97dabb8023d4ab7:97dabb8023d4ab7:0:1
    status:
      code: 200
      message: OK
version: 1
