interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=jGHBHlcOq1&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a017722137846834886e
      X-Trace-Id:
      - 23b1578b14658c92:23b1578b14658c92:0:1
    status:
      code: 200
      message: OK
version: 1
