interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"main":{"major":{"version":"8.7.0","game_pkgs":[{"url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20260225180935_1HxxuRmvXImpznH5/BH3_v8.7.0_3cd541758856.7z","md5":"155561eb0ee0cc9bf431622b0fffb4a6","size":"26014242092","decompressed_size":"52038969944"}],"audio_pkgs":[],"res_list_url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20260225180935_1HxxuRmvXImpznH5/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20260421111739_jgH07SN6onniVyRp/BH3_v8.8.0_cec468aad479.7z","md5":"7e7bfdd8892c55f79045252601cbf8a8","size":"26413032853","decompressed_size":"52836551466"}],"audio_pkgs":[],"res_list_url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20260421111739_jgH07SN6onniVyRp/extract"},"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 541f533c1d6828d6:541f533c1d6828d6:0:1
    status:
      code: 200
      message: OK
version: 1
