interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"wpf_package":{"version":"6.3.0.41515171","url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20260108110201_vkX3rxY57B05m9Nn/BeyondAssets_CN_6.3.0.41515171.zip","md5":"e1d650f88c82a256c7ee8d30232ca27b","size":"364761976"}}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d279517689192616097207e
      X-Trace-Id:
      - 6323cc4b66b85fcc:6323cc4b66b85fcc:0:1
    status:
      code: 200
      message: OK
version: 1
