interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"backgrounds":[{"id":"fQaYeg3fB8","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/ac79acdb7b57479384b599aaf466d0ab_1975470161538517737.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/44628155?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/0257a2096f3aaa90000edd89a7a69302_4544394785191022906.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/13/2ccba19cc67331bd12e0f6e075cf4b7a_6773506165357380774.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 6cd0d69aba5f55ba:6cd0d69aba5f55ba:0:1
    status:
      code: 200
      message: OK
version: 1
