interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=jGHBHlcOq1
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/894b89b5aaea805f6420156c7c07a1a3_6035695844148120.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/22/48de742c7ab48b8ad1b25ae7579c096d_5821796473641823127.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/4d01fedaacb10d62dbff582efcb510ec_1685719073802873548.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_4021555478305388652.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/bb9aa0b6571192dfbf2c44c5c6a85bd7_7848366973571592552.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bb9aa0b6571192dfbf2c44c5c6a85bd7\",\"size\":124455},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/09/22/d824123e77e762a0f350df1b560dcad0_3376378154035797886.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/5646[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=x6znKlJ0xK
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"dA9aMgUZn5\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/a87b13d4684d10b06c2ca32ac96fccca_6352210804358785939.png\",\"link\":\"https://www.miyoushe.com/zzz/article/72868699\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"DELqwaVUv2\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/c4d003d225e09243d42d8f2ad379a524_8043917965236236207.png\",\"link\":\"https://www.miyoushe.com/zzz/article/72867426\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"XLZTq3qWlb\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/30/fd522ae1dc8cc1fca856d6a86cf595a5_1877566541199989638.png\",\"link\":\"https://www.miyoushe.com/zzz/ar[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=64kMb5iAWu
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"78wVfFb39D\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/03/dd7b67fcc6dd20451b3a55d6913441a3_2768400370813[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=1Z8W5NHUQb
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"1Z8W5NHUQb\",\"biz\":\"hk4e_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"CUfGhKivpm\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/486b6969b714afc2eb7601fc932fa84c_10698352051547[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=osvnlOc0S8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"osvnlOc0S8\",\"biz\":\"bh3_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"71eWmB7pkz\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/94ee23c7629a45b303c65c6c5d962a95_3611986291640598398.png\",\"link\":\"https://www.miyoushe.com/bh3/article/72868698\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"w7PksWTnDi\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/31/a88b539240450b4b7ca4bba80c899def_2900758041848043712.png\",\"link\":\"https://www.miyoushe.com/bh3/article/72786570\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"n66v1FSEDA\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/31/b747e66ddcf3a7ecce6d1cd53b130883_1281727318654140117.png\",\"link\":\"https://www.miyoushe.com/bh3/article/72819722\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"9cEeDbiuhj\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/15/83aa4af628927501042204ef706a6d53_2638118384603968381.png\",\"link\":\"https://www.miyoushe.com/bh3/article/72368923\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"gsL0A0Vn5b\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\u300C\u65F6\u5C81\u53E9\u6653\u300D\u7ED8\u753B\u5F81\u96C6\u5F00\u542F\uFF0C\u521B\u4F5C\u8D62\u6C34\u6676\\u0026\u521B\u4F5C\u5E01\uFF01\",\"link\":\"https://www.miyoushe.com/bh3/article/72532720\",\"date\":\"01/20\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"AN7KS5SSrY\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\u300C\u9547\xD7\u5043\u6708\u53E9\u6653\u300D\u767B\u573A\uFF0C\u53C2\u4E0E\u8BA8\u8BBA\u8D62\u5468\u8FB9\\u0026\u6C34\u6676\uFF01\",\"link\":\"https://www.miyoushe.com/bh3/article/72368920\",\"date\":\"01/15\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"GxV37FUhEq\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u950B\u5149\u7167\u591C\u4E28\u[...]
