interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"backgrounds":[{"id":"BsC0hlpIFZ","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/c821918282f90c8a9a976a1acb2bcd56_2115896635785876059.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/5d431ea69cf1c7cb9b1a1084259d3e50_3122017301382897014.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/7107861bf95d6e6fe33c9ba80554b939_3863693995441776489.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7aacdd42ace2b4b4:7aacdd42ace2b4b4:0:1
    status:
      code: 200
      message: OK
version: 1
