interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"backgrounds":[{"id":"XXn963JPAZ","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/974379b0df46e4415b0bad5f00c4c6e6_157275545718430086.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/a46fa4e195461d91ab89a67517ffcd7d_3237206529355963383.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/bd1017cbe2a2ab04a83fe6f07e88a244_4162184865439147956.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 6d4fcded9d58629d:6d4fcded9d58629d:0:1
    status:
      code: 200
      message: OK
version: 1
