interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"backgrounds":[{"id":"7sbMaBOW34","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/6adddae37d3e36c8801764756328adbc_6144448697059497529.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/09c1ca522f6fc1ae3387bae8f5cb9263_5032545787357043473.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/f79d10e39de21d8f818da5be1162e4d4_5259681174982257412.png","link":"https://act.hoyoverse.com/ys/event/e20210601blue_post/vert.html?gamewebview=1\u0026page_sn=a20865449b12434f\u0026mode=fullscreen\u0026game_biz=hk4e_global\u0026sign_type=2\u0026auth_appid=bluepost\u0026authkey_ver=1","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"0ndy0ZLNJO","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/a8a15d1d2f4e3f54b787de32dc3bfde2_2542480694609064108.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/09c1ca522f6fc1ae3387bae8f5cb9263_6286474653629692150.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/24/f79d10e39de21d8f818da5be1162e4d4_17103603[...]
