interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"backgrounds":[{"id":"RjXINhbeQY","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/19/bea9b94160cd36b44cdd9ac5c99a5603_5469531197276739425.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/19/a1b387b4bdafde39c28131c03a5ed077_4019315856610441865.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/19/84733fa28a55345e2b33c1dc8b0976d4_8856784475888990043.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79c17701271414757463e
      X-Trace-Id:
      - 5b163467fe4f3233:5b163467fe4f3233:0:1
    status:
      code: 200
      message: OK
version: 1
