interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGamePackages?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"main":{"major":{"version":"5.5.0","game_pkgs":[{"url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.001","md5":"0c0994a7d0ebaf5609d86d5853c8e89e","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.002","md5":"af2c99cc83eb4817c2877924bc77ae5e","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.003","md5":"5b97ce7d8a999dcd4651edf0b3a0a742","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchcn.yuanshen.com/cl[...]
