interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=8fANlj5K7I&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"version":"2.46.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/08/cde59f850aa39da267cf264ee8d3663a_1482561387769075393.zip","md5":"cde59f850aa39da267cf264ee8d3663a","size":"8187446","decompressed_size":"16374892"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 5cea0fba99a3d9f8:5cea0fba99a3d9f8:0:1
    status:
      code: 200
      message: OK
version: 1
