interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a817722137793892833e
      X-Trace-Id:
      - f7643e428dc0dbd:f7643e428dc0dbd:0:1
    status:
      code: 200
      message: OK
version: 1
