interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"backgrounds":[{"id":"E8mP0iFSol","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/12/7896aa885966a6286973c4cdb90a26a3_8978133889611169638.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/12/2ad96fc045a62542df28395f77be289e_2225208258057689466.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/12/3946467372da8423ae44de218122c191_8624433926681456939.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"r7f7W04A0D","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/12/9cae2e6246682f6fd1ba6cd3519c5aed_483380468862554194.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"IsiH4rnzxb","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/04/099c326adb665ec411065fff18171d94_6263007572514163107.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d269d17722137716354569e
      X-Trace-Id:
      - 3460eb6c72393493:3460eb6c72393493:0:1
    status:
      code: 200
      message: OK
version: 1
