interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"FUoEmzPdP3","biz":"nap_global","display":{"language":"en-us","name":"Zenless
        Zone Zero","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_8151375525791945073.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/107ec31f7c257bc451f37012d3abbff8_4940587300850802606.webp","link":"","login_state_in_link":false},"logo":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/fdf7a7f32b1b98b74b2c14066cc4b522_3355189533200148852.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/c29f67e99818cc3b11a86d2f95b01df6_5692496366356860909.jpg","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_3478985393225088813.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"6d1cf7d5575dfb9d0518ba9ecb42ad7c","size":116372},"wpf_icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0}},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 33413ef9ceefa705:33413ef9ceefa705:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=0hUu4SbmhI&game_id=FUoEmzPdP3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"FUoEmzPdP3\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"ABDRCvW8Oe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/01/4752c07130e89c5d16f30a3380f03cc4_7747653627290816918.jpg\",\"link\":\"https://www.hoyolab.com/article/43039871?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"BKHwzOrDL3\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/01/a21b0b1ff97fea154bc95de72b111743_37261547404796665.png\",\"link\":\"https://www.hoyolab.com/article/43037944?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"L7oF3SKzSs\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/30/21aa9ea448e69481dc2c2f015a01bb62_3904343670477951052.png\",\[...]
