interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"wkE5P5WsIf","biz":"bh3_global"},"main":{"major":{"version":"8.6.0","game_pkgs":[{"url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20251223145940_7eJqh9iB7WHUalfa/BH3_v8.6.0_96dac6c2fcd9.7z","md5":"e288e34a06d7bff934b4be57c1ed0535","size":"24827430154","decompressed_size":"49665346068"}],"audio_pkgs":[],"res_list_url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20251223145940_7eJqh9iB7WHUalfa/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 450c8109d5676642:450c8109d5676642:0:1
    status:
      code: 200
      message: OK
version: 1
