interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"wpf_package":{"version":"6.4.0.42314721","url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20260209152404_K5PnTJeVHhV00Gtw/BeyondAssets_OS_6.4.0.42314721.zip","md5":"1672a1fd779e80cd6a417cc841f94ca0","size":"360171918"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2a4ca64ea6a51fc4:2a4ca64ea6a51fc4:0:1
    status:
      code: 200
      message: OK
version: 1
