interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"uxB4MC7nzC","biz":"bh3_global"},"main":{"major":{"version":"8.7.0","game_pkgs":[{"url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260225183026_oeu6HqdQLopd9Nrw/BH3_v8.7.0_3cd541758856.7z","md5":"f77fd78fb68addd8fc7d05a849ec480b","size":"25211053977","decompressed_size":"50432593714"}],"audio_pkgs":[],"res_list_url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260225183026_oeu6HqdQLopd9Nrw/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260421113050_xjzsIsJm2Wp2GTmE/BH3_v8.8.0_cec468aad479.7z","md5":"1f11d1e5c5663b00ca29128dea4b09e4","size":"25544282407","decompressed_size":"51099050574"}],"audio_pkgs":[],"res_list_url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260421113050_xjzsIsJm2Wp2GTmE/extract"},"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7175e2f536370a84:7175e2f536370a84:0:1
    status:
      code: 200
      message: OK
version: 1
