interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=6runUel2hp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"g0mMIvshDb","biz":"bh3_global"},"backgrounds":[{"id":"VyySunhzLW","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/06966e7f9c65374c05d9beff0e069aed_4075485304309339163.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/31b05915030eed21766c10b25ff1953e_7116674927381102621.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/a078b082a0fec9bb002c5f3080b2303a_3786097813696204828.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"0v0YdK15tw","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/3e766fd9dcbd2fd24a22ed7ceea7490e_5519010699344812617.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 5136d6d8da326b75:5136d6d8da326b75:0:1
    status:
      code: 200
      message: OK
version: 1
