interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"backgrounds":[{"id":"71pfVnIG2n","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/28/bea9b94160cd36b44cdd9ac5c99a5603_5022184107219905704.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/43362738?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/19/a1b387b4bdafde39c28131c03a5ed077_7633966948972837003.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/19/bac78daf712ab9c1347974f370a0fbcc_648064911953880980.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 12d2c9f49b0ee3a:12d2c9f49b0ee3a:0:1
    status:
      code: 200
      message: OK
version: 1
