interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"5TIVvvcwtM","biz":"bh3_global","display":{"language":"en-us","name":"Honkai
        Impact 3rd","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_6841086697744260757.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/1aa568b2f1d93bf5e9ed30fefb4b7de7_8503220238812872813.webp","link":"","login_state_in_link":false},"logo":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/746d0f9bdea8bec75dcba30363ee4869_5042730857509214632.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_8442822819633803061.png","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/23/b654cc6fb434b7054a3e3fefe1f4a9a0_5274544621224741390.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"b654cc6fb434b7054a3e3fefe1f4a9a0","size":398969},"wpf_icon":null},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[{"i18n_name":"Honkai
        Impact 3rd","i18n_description":"Europe \u0026 Americas Servers","package_name":"glb_official","auto_scan_registry_key":"Honkai
        Impact 3rd","package_detection_info":"glb_official","game_id":"5TIVvvcwtM","reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 288f31be5bfe48e7:288f31be5bfe48e7:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=ACQazS79kX&game_id=5TIVvvcwtM
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"5TIVvvcwtM\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"aq4xLi1GFx\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/31/87278290d225c28a04923fdb8c0540c7_7040013701916628415.jpg\",\"link\":\"https://youtu.be/pDVKpiSs-xI\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"elgNm4gOxe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/26/abdbc02a0387d85162da584303b00b9f_3583191187014296739.png\",\"link\":\"https://youtu.be/X54wCKVzNNg\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"KTMFFFGrXc\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Update-Ank\xFCndigung:
        v8.6 \\\"Geheimoperation: Bankett\\\"\",\"link\":\"https://hoyo.link/IO83s5QKK\",\"date\":\"12/31\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"L8XcBJ34sN\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Ritas
        neuer Rang-S-Kampfanzug \\\"Fr\xE4ulein Spionin\\\" erscheint\",\"link\":\"https://hoyo.link/bQD7kROei\",\"date\":\"12/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"dvOv2I2Gt2\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1100616699269552016.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/global\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"6fRUWl54T7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_6757827193489975771.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/global.honkaiimpact\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tE3lIeMEim\",\"icon\":{\"url\[...]
