interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"main":{"package_id":"19XDCbNucU","branch":"main","password":"ag43v1QVxlUH","tag":"8.6.0","diff_tags":[],"categories":[{"category_id":"10177","matching_field":"game"},{"category_id":"10182","matching_field":"asb"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 18d7887908a80682:18d7887908a80682:0:1
    status:
      code: 200
      message: OK
version: 1
