interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"backgrounds":[{"id":"FvkNlWIRin","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/c821918282f90c8a9a976a1acb2bcd56_3923951149205789915.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/5d431ea69cf1c7cb9b1a1084259d3e50_2573906814230039772.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/28/110fbece661d1930917fe2ce0d53fd13_6814945351873239616.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 1c71cb82d7cb713f:1c71cb82d7cb713f:0:1
    status:
      code: 200
      message: OK
version: 1
