interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=ACQazS79kX&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"version":"2.42.1","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/08/12/86f287a0901198f287050affff1c3250_6144699226544720254.zip","md5":"86f287a0901198f287050affff1c3250","size":"9706172","decompressed_size":"19412344"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2af7b8d994709c53:2af7b8d994709c53:0:1
    status:
      code: 200
      message: OK
version: 1
