interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"x6znKlJ0xK","biz":"nap_cn"},"backgrounds":[{"id":"JZdAZhpez2","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/27/ac79acdb7b57479384b599aaf466d0ab_706199311926953242.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/27/7089da8027dedae1ed268eb8bd831905_6817388937792168776.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/27/62541a3fb2831165c75eb28db6f662b7_8096603668004816227.png","link":"https://www.miyoushe.com/zzz/article/74635128","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/27/0257a2096f3aaa90000edd89a7a69302_1042582668880273475.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/27/30d23c78932aa5268a2d5c2d5fea9512_5486434140283497261.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"64kMb5iAWu","biz":"hkrpg_cn"},"backgrounds":[{"id":"PHgQtF6LEp","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/0672611a32e2c4ede865f19f14245389_4922328922163933024.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/9797dcba1811d630c24550a26a2bc9cd_8452829414849101231.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/[...]
