interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"backgrounds":[{"id":"2NHKrt6XEB","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/13/ac79acdb7b57479384b599aaf466d0ab_3336590827423348950.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/13/0257a2096f3aaa90000edd89a7a69302_8102594901783945605.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/13/30d23c78932aa5268a2d5c2d5fea9512_7066219129671169508.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9c17774754705524100e
      X-Trace-Id:
      - 241bcbfd2bb0d281:241bcbfd2bb0d281:0:1
    status:
      code: 200
      message: OK
version: 1
