interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"wkE5P5WsIf","biz":"bh3_global"},"main":{"package_id":"elYjJvP1vP","branch":"main","password":"gmoUq0yjGD80","tag":"8.7.0","diff_tags":[],"categories":[{"category_id":"10173","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10178","matching_field":"asb","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]}],"required_client_version":""},"pre_download":{"package_id":"elYjJvP1vP","branch":"predownload","password":"vm7gCrJKeE5A","tag":"8.8.0","diff_tags":[],"categories":[{"category_id":"10173","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10178","matching_field":"asb","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]}],"required_client_version":""},"enable_base_pkg_predownload":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2c8995e8c346a2d4:2c8995e8c346a2d4:0:1
    status:
      code: 200
      message: OK
version: 1
