interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9917774754646638160e
      X-Trace-Id:
      - 65eb9398d7024b61:65eb9398d7024b61:0:1
    status:
      code: 200
      message: OK
version: 1
