interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameBranches?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"x6znKlJ0xK","biz":"nap_cn"},"main":{"package_id":"FfGDa3bsvp","branch":"main","password":"FJCF1CT6Z4nz","tag":"2.5.0","diff_tags":["2.4.0","2.3.0"],"categories":[{"category_id":"10047","matching_field":"game","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10070","matching_field":"10108","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10071","matching_field":"71300","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10072","matching_field":"10202","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10073","matching_field":"31003","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10074","matching_field":"71500","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{[...]
