interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=6runUel2hp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"g0mMIvshDb","biz":"bh3_global"},"main":{"major":{"version":"8.6.0","game_pkgs":[{"url":"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20251223164807_MXdiX5Mi37IG7Eeo/BH3_v8.6.0_96dac6c2fcd9.7z","md5":"3d05df0d5ab1559f5a0d8873e7529474","size":"24715194253","decompressed_size":"49440874266"}],"audio_pkgs":[],"res_list_url":"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20251223164807_MXdiX5Mi37IG7Eeo/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 6ea732d0a1089938:6ea732d0a1089938:0:1
    status:
      code: 200
      message: OK
version: 1
