interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"launch_configs":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"exe_file_name":"GenshinImpact.exe","installation_dir":"Genshin
        Impact game","audio_pkg_scan_dir":"GenshinImpact_Data/Persistent/audio_lang_14","audio_pkg_res_dir":"GenshinImpact_Data/StreamingAssets/AudioAssets","audio_pkg_cache_dir":"GenshinImpact_Data/Persistent/AudioAssets","game_cached_res_dir":"GenshinImpact_Data/Persistent","game_screenshot_dir":"ScreenShot","game_log_gen_dir":"%userprofile%/AppData/LocalLow/miHoYo/Genshin
        Impact","game_crash_file_gen_dir":"%userprofile%/AppData/Local/Temp","default_download_mode":"DOWNLOAD_MODE_CHUNK","enable_customer_service":true,"local_res_dir":"","local_res_cache_dir":"","res_category_dir":"","game_res_cut_dir":"","enable_game_log_export":false,"game_log_export_config":null,"blacklist_dir":"","wpf_exe_dir":"BeyondAssets/BeyondAssistEditor/BeyondEditor.exe","wpf_pkg_version_dir":"beyond_pkg_version","enable_audio_pkg_mgmt":false,"audio_pkg_config_dir":"","enable_resource_deletion_adapter":false,"enable_resource_blacklist":false,"enable_redundant_file_cleanup":false,"redundant_file_cleanup_paths":[],"enable_v2_game_detection":false,"related_processes":[""],"enable_ldiff":true,"scenario_pkg_info":null,"local_scenario_config_path":"","enable_full_pkg_recommend":false,"enable_scenario_pkg":false,"enable_dx_switch":false,"enable_write_verify_result":false,"write_verify_result_path":""}],"game_branches":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"main":{"package_id":"ScSYQBFhu9","branch":"main","password":"bDL4JUHL625x","tag":"6.6.0","diff_tags":["6.5.0","6.4.0"],"categories":[{"category_id":"10016","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10017","matching_field":"zh-cn","type":"CATEGORY_TYPE_AUDIO","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10018","matching_field":"en-us","type":"CATEGORY_TYPE_AUDIO","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10020","matching_field":"ja-jp","type":"CATEGORY_TYPE_AUDIO","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10019","matching_field":"ko-kr","type":"CATEGORY_TYPE_AUDIO","scenarios":["CATEGORY_SCENARIO_FULL"]}],"required_client_version":""},"pre_download":null,"enable_base_pkg_predownload":false}],"game_packages":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"main":{"major":{"version":"5.5.0","game_pkgs":[{"url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20250314110016_HcIQuDGRmsbByeAE/GenshinImpact_5.5.0.zip.001","md5":"e65a66073f10325a384c4d8f01199e21","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20250314110016_HcIQuDGRmsbByeAE/GenshinImpact_5.5.0.zip.002","md5":"e262578cc6791c927a77c2a784da84dd","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchhk.yuanshen.com/client_app/download/pc_zip/20250314110016_HcIQuDGRmsbByeAE/GenshinImpact_5.5.0.zip.003","md5":"e9dd5ce69e4ee8025c3e3319da8fb95d","size":"10737418240","decompressed_size":"21485322240"},{"url":"https://autopatchhk.yuans[...]
