interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5519b17689193163931908e
      X-Trace-Id:
      - 99ca2f47c72f2e9:99ca2f47c72f2e9:0:1
    status:
      code: 200
      message: OK
version: 1
