interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"backgrounds":[{"id":"EoLFSKqCJP","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/29612dc6494963f3c15a8730368a2c86_2358105112239626169.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/eaad215c5049a76971e572ff60579923_7834429059470968703.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/ec73bb2a3e49b2e3b4bf62ee636b53b7_6439456862110419345.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"E2VdIyVECG","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/f528ea4ae0661bf7189ad2ad630ffcb7_4463162219859545869.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a017722137776182048e
      X-Trace-Id:
      - 288302a0b576e08a:288302a0b576e08a:0:1
    status:
      code: 200
      message: OK
version: 1
