interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=6P5gHMNyK3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/9951fe722fbda11c061818762cb52650_2585542124455732557.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":null,\"logo\":null,\"thumbnail\":null,\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/6858e83f8dfc368dc305e9b5531a3bce_2109533977661878604.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6858e83f8dfc368dc305e9b5531a3bce\",\"size\":498385},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":null,\"introduction\":\"\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9517779945331304185e
      X-Trace-Id:
      - e787d9f63cbc0f9:e787d9f63cbc0f9:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=6P5gHMNyK3&game_id=EdtUqXfCHh
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"content":{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"language":"","banners":[],"posts":[],"social_media_list":[]}}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9b17779945333503206e
      X-Trace-Id:
      - 22ca8a3239615d4a:22ca8a3239615d4a:0:1
    status:
      code: 200
      message: OK
version: 1
