interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"uxB4MC7nzC","game_exe_list":[{"version":"8.6.0","md5":"b1e174117039ff81752f4fe650e3204b"},{"version":"8.5.0","md5":"f81f2921a7fed8626aba1f0f193845d4"},{"version":"8.4.0","md5":"a3608f9cb79d398b279eb4fa4ab53bf3"},{"version":"8.3.0","md5":"46168db749df3b1caeb89b609ec000c9"},{"version":"8.2.0","md5":"ec5133a2629d372046cbc8175ff5b8c2"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3d30e9a04e8f50df:3d30e9a04e8f50df:0:1
    status:
      code: 200
      message: OK
version: 1
