interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_6508212206846113861.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/29/9c292f1e51d981570d564a23d54ff980_27780137341158073.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/beab753b7e3d2a50b372697647fa2e72_8064756669861889000.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_6312953840017286157.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_7622002898463700803.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6d1cf7d5575dfb9d0518ba9ecb42ad7c\",\"size\":116372},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/09/22/4cc51f558225dba65cc875ecd642cfe2_6726801704251292131.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/06/66c13d886434868220e8[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"i2XG0dPiB4\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/12/a6434ffe5082ec3585a70b283176137e_2575681852109252767.jpg\",\"link\":\"https://www.hoyolab.com/article/43750810?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"8BZwMNjGb4\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/12/ebd78914be6b20d5eb95f5a3364bc7cc_1161508789644552764.png\",\"link\":\"https://www.hoyolab.com/article/43737155?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"apFxopgWhe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/07/d07948de49222f1a5fc8d4c55ded2ba1_4773158195714088998.jpg\",\"link\":\"https://youtu.be/M7EdOyNE7gs\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"2mkarwY6sk\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/05/d30d1a62da8ff1727166ea3866764410_1339648922372154039.png\",\"link\":\"https://youtu.be/0DmndMnuh5E\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"hYA73lPUeE\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/03/26d0b21d288e310f91b964fee366decb_5155402177155125406.jpg\",\"link\":\"https://youtu.be/06G8YgOrXTw\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"oyjhu5HofQ\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/26/4aaa7a50a01658b8bd90f46d29011732_606384431028627542.png\",\"link\":\"https://youtu.be/HLv8Dz8t6Hk\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"zwAm761KRv\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Figurenvorschau
        f\xFCr Sunna \u2013 \u201ESo richtig nachtragend\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/0DmndMnuh5E\",\"date\":\"02/05\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"CuJC7cFGX3\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Zeitlich
        begrenzte Kan\xE4le der Version 2.6 (Phase 1)\",\"link\":\"https://www.hoyolab.com/article/43616671?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"02/04\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"cWsICHZQ0F\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Aktionsbeschreibung
        zu \u201EHarmonie des Wunschdenkens\u201C\",\"link\":\"https://www.hoyolab.com/article/43620322?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"02/04\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"P29PE03Orl\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Figurenvorf\xFChrung
        f\xFCr Sunna \u2013 \u201ETraum-Sampling\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/06G8YgOrXTw\",\"date\":\"02/03\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"tsGwkL4MTo\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u201EHerzschl\xE4ge
        geben das Tempo an\u201C \u2013 Minialbum f\xFCr \u201EAngels of Delusion\u201C
        | Zenless Zone Zero\",\"link\":\"https://youtu.be/HLv8Dz8t6Hk\",\"date\":\"01/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"RGNi0hBt1K\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/06/ca9481b418f0cf5ea7acafffa9f82df9_2461729194712753371.png\",\"hover_url\":\"\",\"link\":\"https://www.hoyolab.com/accountCenter/postList?id=219270333\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"5L8vITtRYd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/06/512e894ffd009e3b208bcbee87291bde_174804553663942576.png\",\"hover_url\":\"\",\"link\":\"https://www.reddit.com/r/ZZZ_Official/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"K3DtUCB8ll\",\"icon\":{\"url\":\"htt[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=4ziysqXOQ8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"language\":\"\",\"banners\":[{\"id\":\"w5FA2bE5lC\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/26/2586e9404a3af485175849a7fa964b14_34849163[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=gopR6Cufr3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"gopR6Cufr3\",\"biz\":\"hk4e_global\"},\"language\":\"\",\"banners\":[{\"id\":\"yOLvh49KE8\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/27/6bedee91c2031458487c77082b023c10_540994705[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=5TIVvvcwtM
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"5TIVvvcwtM\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"NqLslKLz68\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/24/4355735e0bdc4d7a6ece8691915ae7af_3743783968[...]
