interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"backgrounds":[{"id":"R6zzA5YoWG","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/1858bfcdb694846618046d3ac3cbf143_4080707903734721126.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/cad8a2c7157c839ec0f54fd5a7264544_5177108118458409447.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/03/729dc33b21e0f978671e1d4e96f0fcbd_5803432973633683376.png","link":"https://www.hoyolab.com/article/44915652?utm_source=launcher\u0026utm_medium=backgroundbanner\u0026utm_id=8","login_state_in_link":true,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/e979cbf167ddce9a2bdfcf69092f68a3_2710747706004583174.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/05/5b5ac0c7e5742a8c1cfbba6685b045f6_2912851751653527204.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 1b9f5f9afab14f11:1b9f5f9afab14f11:0:1
    status:
      code: 200
      message: OK
version: 1
