interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"bxPTXSET5t","biz":"bh3_global","display":{"language":"en-us","name":"Honkai
        Impact 3","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_2417552316266118075.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/1aa568b2f1d93bf5e9ed30fefb4b7de7_567901866687109011.webp","link":"","login_state_in_link":false},"logo":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/746d0f9bdea8bec75dcba30363ee4869_4131496400111994159.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_7951153934035004879.png","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/23/b654cc6fb434b7054a3e3fefe1f4a9a0_5095621444125804255.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"b654cc6fb434b7054a3e3fefe1f4a9a0","size":398969},"wpf_icon":null,"top_left_logo":null,"introduction":""},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[{"i18n_name":"Honkai
        Impact 3","i18n_description":"SEA Server","package_name":"overseas_official","auto_scan_registry_key":"Honkai
        Impact 3","package_detection_info":"overseas_official","game_id":"bxPTXSET5t","reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 38369fd80d0ae462:38369fd80d0ae462:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=GTLARRVLB5&game_id=bxPTXSET5t
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"content":{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"language":"","banners":[{"id":"xjHxjOG1u9","image":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/29/a236e58965c89004c8b3069169d3a581_4303242414416246527.png","link":"https://www.hoyolab.com/article/44762731","login_state_in_link":false},"i18n_identifier":""},{"id":"ovwu8OVKDX","image":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/24/0b97ae9073814e191221bdf2125e0f86_6666664233713161691.png","link":"https://youtu.be/yndQJUDhL4I","login_state_in_link":false},"i18n_identifier":""},{"id":"eB7GSOWrOy","image":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/08/1385db96557220c0ed5c5a7e13446b20_6053339232264794238.jpg","link":"https://hoyo.link/HJRnuiBtA","login_state_in_link":false},"i18n_identifier":""}],"posts":[{"id":"LhWA1w2sxD","type":"POST_TYPE_ANNOUNCE","title":"New
        AstralOp \"Bailu Youyun\" and Divine Key \"Blue Thunder Shuttle EX19\" debut!","link":"https://www.hoyolab.com/article/44762731","date":"04/29","login_state_in_link":false,"i18n_identifier":""},{"id":"lS57C0aoKa","type":"POST_TYPE_ANNOUNCE","title":"v8.8
        Maintenance Announcement and New Events Preview","link":"https://www.hoyolab.com/article/44750704","date":"04/23","login_state_in_link":false,"i18n_identifier":""},{"id":"jcPCIvIRb7","type":"POST_TYPE_ACTIVITY","title":"Valkyries''
        Get-Together | Leave a comment to claim 100 Crystals, and stand a chance to
        win the 1200 USD \"One-Year Snack Fund\" and other fabulous prizes!","link":"https://hoyo.link/HJRnuiBtA","date":"04/13","login_state_in_link":false,"i18n_identifier":""}],"social_media_list":[{"id":"wrYikJmecb","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_4348248340134718046.png","hover_url":"","link":"https://honkaiimpact3.mihoyo.com/asia/","login_state_in_link":false,"md5":"","size":0},"qr_image":{"url":"","link":"","login_state_in_link":false},"qr_desc":"","links":[],"enable_red_dot":false,"red_dot_content":""},{"id":"S8SUFCGy3O","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_3115423271616927153.png","hover_url":"","link":"https://www.facebook.com/HonkaiImpact3rd/","login_state_in_link":false,"md5":"","size":0},"qr_image":{"url":"","link":"","login_state_in_link":false},"qr_desc":"","links":[],"enable_red_dot":false,"red_dot_content":""},{"id":"lnJ3GbDdnT","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/202[...]
