interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=6runUel2hp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"g0mMIvshDb","biz":"bh3_global"},"main":{"package_id":"B2YDS7WUq2","branch":"main","password":"Rv3jD9l4CRvc","tag":"8.7.0","diff_tags":[],"categories":[{"category_id":"10174","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10179","matching_field":"asb","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]}],"required_client_version":""},"pre_download":{"package_id":"B2YDS7WUq2","branch":"predownload","password":"py2LMQPrK8l8","tag":"8.8.0","diff_tags":[],"categories":[{"category_id":"10174","matching_field":"game","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]},{"category_id":"10179","matching_field":"asb","type":"CATEGORY_TYPE_RESOURCE","scenarios":["CATEGORY_SCENARIO_FULL"]}],"required_client_version":""},"enable_base_pkg_predownload":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4371a2aa3722185e:4371a2aa3722185e:0:1
    status:
      code: 200
      message: OK
version: 1
