interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"main":{"package_id":"shWAaVlXdV","branch":"main","password":"PLK4QHtxc7Ui","tag":"8.6.0","diff_tags":[],"categories":[{"category_id":"10176","matching_field":"game","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10181","matching_field":"asb","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]}],"required_client_version":""},"pre_download":null,"enable_base_pkg_predownload":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 6d472d86afd04cdd:6d472d86afd04cdd:0:1
    status:
      code: 200
      message: OK
version: 1
