interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"wkE5P5WsIf","biz":"bh3_global"},"main":{"major":{"version":"8.7.0","game_pkgs":[{"url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20260225190420_ZLttniwfw2GusDsb/BH3_v8.7.0_3cd541758856.7z","md5":"17eec0f6a606bc0b406e38a0a18ae27d","size":"25219120870","decompressed_size":"50448727500"}],"audio_pkgs":[],"res_list_url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20260225190420_ZLttniwfw2GusDsb/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20260421112917_VhXIQT5ZXmwVqRu2/BH3_v8.8.0_cec468aad479.7z","md5":"4d80904b4470d4693762d1e3ffb60832","size":"25558557994","decompressed_size":"51127601748"}],"audio_pkgs":[],"res_list_url":"https://autopatchasia.honkaiimpact3.com/ptpublic/bh3_tw/20260421112917_VhXIQT5ZXmwVqRu2/extract"},"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 24c3920d5855542c:24c3920d5855542c:0:1
    status:
      code: 200
      message: OK
version: 1
