interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGamePackages?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"main":{"major":{"version":"2.5.0","game_pkgs":[{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20251211102052_VMexxXtnCVa8FREV/VolumeZip/juequling_2.5.0_AS.zip.001","md5":"25EF4F017ED042AB0D658F309BDAE456","size":"6483345408","decompressed_size":"14263359898"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20251211102052_VMexxXtnCVa8FREV/VolumeZip/juequling_2.5.0_AS.zip.002","md5":"50FFDA4685FE464383586813FC6AD00E","size":"6483345408","decompressed_size":"14263359898"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20251211102052_VMexxXtnCVa8FREV/VolumeZip/juequling_2.5.0_AS.zip.003","md5":"743DEDBB37AD51E094868837EF4F5E3F","size":"6483345408","decompressed_size":"142[...]
