interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=6runUel2hp
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"g0mMIvshDb","biz":"bh3_global"},"backgrounds":[{"id":"NGyUJzZzGV","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/974379b0df46e4415b0bad5f00c4c6e6_4427417847799611583.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/a46fa4e195461d91ab89a67517ffcd7d_5661107991221196194.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/08/a1d4f5c3c36005e8b0e7ac6d1710f844_6325385200270007087.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 5b449e8bc006ddab:5b449e8bc006ddab:0:1
    status:
      code: 200
      message: OK
version: 1
