interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=gGoJxKOusQ&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"version":"2.4.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/07/25/5b06772c3b05b914a77bf946b106e5a0_7978132429580010899.zip","md5":"5b06772c3b05b914a77bf946b106e5a0","size":"9706412","decompressed_size":"19412824"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4a94d4ab651b66bb:4a94d4ab651b66bb:0:1
    status:
      code: 200
      message: OK
version: 1
