interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=6P5gHMNyK3&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79e17701271314222108e
      X-Trace-Id:
      - 2f4af606c4bd065:2f4af606c4bd065:0:1
    status:
      code: 200
      message: OK
version: 1
