interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"main":{"package_id":"PePf9OoV54","branch":"main","password":"E6RCs6eKqXNC","tag":"3.8.0","diff_tags":["3.7.0"],"categories":[{"category_id":"10049","matching_field":"game","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10050","matching_field":"zh-cn","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10051","matching_field":"en-us","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10052","matching_field":"ja-jp","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10053","matching_field":"ko-kr","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]}],"required_client_version":""},"pre_download":null,"enable_base_pkg_predownload":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 514d60dca4bb3156:514d60dca4bb3156:0:1
    status:
      code: 200
      message: OK
version: 1
