interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"FUoEmzPdP3","game_exe_list":[{"version":"2.6.0","md5":"c16580087dd0cf580caa1bf64684a92e"},{"version":"2.5.0","md5":"9147c0f7eba65e674e713aa9fadceaee"},{"version":"2.4.0","md5":"ecf39d6c3a2fb54d6b3a91d6d543607f"},{"version":"2.3.0","md5":"e47d20240104c70eb57c14c6a2106a44"},{"version":"2.2.0","md5":"72f89d42594e556ed9050980ec790da3"},{"version":"2.1.0","md5":"725dbe2242d83d799010ba3cbcbb8768"},{"version":"2.0.0","md5":"b4c6d3dc0604ed0c457e8e31d2afa35b"},{"version":"1.7.0","md5":"5909e4a596299cce9708c556325b0815"},{"version":"1.6.0","md5":"f62c6b281474cc411013ac75d89da791"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 146a52e919ec2565:146a52e919ec2565:0:1
    status:
      code: 200
      message: OK
version: 1
