interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"1Z8W5NHUQb","biz":"hk4e_cn"},"wpf_package":{"version":"6.4.0.42314721","url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20260209152221_ExaY2knFXx2bDL4P/BeyondAssets_CN_6.4.0.42314721.zip","md5":"528fd99d48583df52975e547c3b5f244","size":"360165198"}}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d269617722137863726739e
      X-Trace-Id:
      - 60d0662e54ddc59d:60d0662e54ddc59d:0:1
    status:
      code: 200
      message: OK
version: 1
