interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"wkE5P5WsIf","biz":"bh3_global"},"main":{"package_id":"elYjJvP1vP","branch":"main","password":"gmoUq0yjGD80","tag":"8.6.0","diff_tags":[],"categories":[{"category_id":"10173","matching_field":"game"},{"category_id":"10178","matching_field":"asb"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 125e5ceeb4fade97:125e5ceeb4fade97:0:1
    status:
      code: 200
      message: OK
version: 1
