interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=umfgRO5gh5
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"T2S0Gz4Dr2\",\"biz\":\"hk4e_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u539F\u795E\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/09/28/b31eee1d9b1b3ed8f959ecc0383f8b41_8608917092086339464.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":null,\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/05/12/14f9e746efd2a3aa13c0ce2e716fde86_7004932072335813470.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/05/12/68e8178e137f6b0259e4da49b5a9be8e_3153568117021118310.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2024/12/21/bde94a90a579d1f5ff9757b98f006280_266162250201639680.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bde94a90a579d1f5ff9757b98f006280\",\"size\":230210},\"wpf_icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/10/23/7ca67838ed44d0cfdb3d31bd8f2ad51f_679587066878630281.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26b217722137708448933e
      X-Trace-Id:
      - 290ff870b55ec05:290ff870b55ec05:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=umfgRO5gh5&game_id=T2S0Gz4Dr2
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"content":{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"language":"","banners":[],"posts":[],"social_media_list":[]}}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a717722137712772524e
      X-Trace-Id:
      - 3699f14b94b8688a:3699f14b94b8688a:0:1
    status:
      code: 200
      message: OK
version: 1
