interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameConfigs?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"launch_configs":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"exe_file_name":"BH3.exe","installation_dir":"Honkai
        Impact 3 game","audio_pkg_scan_dir":"","audio_pkg_res_dir":"","audio_pkg_cache_dir":"","game_cached_res_dir":"","game_screenshot_dir":"ScreenShot","game_log_gen_dir":"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/Honkai
        Impact 3","game_crash_file_gen_dir":"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/Honkai
        Impact 3/Crashes","default_download_mode":"DOWNLOAD_MODE_CHUNK","enable_customer_service":true,"local_res_dir":"","local_res_cache_dir":"","res_category_dir":"","game_res_cut_dir":"","enable_game_log_export":false,"game_log_export_config":null,"blacklist_dir":"","wpf_exe_dir":"","wpf_pkg_version_dir":"","enable_audio_pkg_mgmt":false,"audio_pkg_config_dir":"","enable_resource_deletion_adapter":false,"enable_resource_blacklist":false,"enable_redundant_file_cleanup":false,"redundant_file_cleanup_paths":[],"enable_v2_game_detection":false,"related_processes":[""],"enable_ldiff":false,"scenario_pkg_info":null,"local_scenario_config_path":"","enable_full_pkg_recommend":false,"enable_scenario_pkg":false,"enable_dx_switch":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 56ded621387d9a4e:56ded621387d9a4e:0:1
    status:
      code: 200
      message: OK
version: 1
