interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=umfgRO5gh5&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79617701271247504937e
      X-Trace-Id:
      - 506bd862332ac3b5:506bd862332ac3b5:0:1
    status:
      code: 200
      message: OK
version: 1
