interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getWPFPackages?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"wpf_packages":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"wpf_package":{"version":"6.5.0.43489938","url":"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20260330155309_EzsfDoxwBfnMyPAt/BeyondAssets_CN_6.5.0.43489938.zip","md5":"ce6e5c674b31c1efbc97c97c7d30a14b","size":"432597703"}}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9c17779945287293586e
      X-Trace-Id:
      - 149d0fce9be19971:149d0fce9be19971:0:1
    status:
      code: 200
      message: OK
version: 1
