interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"backgrounds":[{"id":"l3lCavbDmX","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/07/e81f1e018c722740d9e5cdb814e886d0_3327706669656640349.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"4DQZtRpOuX","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/07/28ffc18f3125eb4f9e9fa45f3be6e757_7286176611222932454.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"OskVv45iEI","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/30/c8e0efb85a2eb368a594868ef30254f3_8433678308005899409.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9517774754633181693e
      X-Trace-Id:
      - 249bec2e17337c13:249bec2e17337c13:0:1
    status:
      code: 200
      message: OK
version: 1
