interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameBranches?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"main":{"package_id":"HMNH5r9cEH","branch":"main","password":"nQ2pokX2pFIG","tag":"3.8.0","diff_tags":["3.7.0"],"categories":[{"category_id":"10054","matching_field":"game"},{"category_id":"10055","matching_field":"zh-cn"},{"category_id":"10056","matching_field":"en-us"},{"category_id":"10057","matching_field":"ja-jp"},{"category_id":"10058","matching_field":"ko-kr"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d279917689192731328463e
      X-Trace-Id:
      - 2182852f97786f6:2182852f97786f6:0:1
    status:
      code: 200
      message: OK
version: 1
