interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=xV0f4r1GT0&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5a49a17689193109462295e
      X-Trace-Id:
      - 44eb73e4047d39e6:44eb73e4047d39e6:0:1
    status:
      code: 200
      message: OK
version: 1
