interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"main":{"package_id":"PePf9OoV54","branch":"main","password":"E6RCs6eKqXNC","tag":"3.8.0","diff_tags":["3.7.0"],"categories":[{"category_id":"10049","matching_field":"game"},{"category_id":"10050","matching_field":"zh-cn"},{"category_id":"10051","matching_field":"en-us"},{"category_id":"10052","matching_field":"ja-jp"},{"category_id":"10053","matching_field":"ko-kr"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7d3efb13e5f71906:7d3efb13e5f71906:0:1
    status:
      code: 200
      message: OK
version: 1
