interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=umfgRO5gh5&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26af17722137679024882e
      X-Trace-Id:
      - 613ab9a6928fb61:613ab9a6928fb61:0:1
    status:
      code: 200
      message: OK
version: 1
