interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"FUoEmzPdP3","biz":"nap_global","display":{"language":"en-us","name":"Zenless
        Zone Zero","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_8151375525791945073.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/107ec31f7c257bc451f37012d3abbff8_4940587300850802606.webp","link":"","login_state_in_link":false},"logo":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/fdf7a7f32b1b98b74b2c14066cc4b522_3355189533200148852.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/19/c29f67e99818cc3b11a86d2f95b01df6_5692496366356860909.jpg","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_3478985393225088813.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"6d1cf7d5575dfb9d0518ba9ecb42ad7c","size":116372},"wpf_icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0}},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3544556deade7989:3544556deade7989:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=0hUu4SbmhI&game_id=FUoEmzPdP3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"FUoEmzPdP3\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"leV6ZbWqJT\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/12/a6434ffe5082ec3585a70b283176137e_2575681852109252767.jpg\",\"link\":\"https://www.hoyolab.com/article/43750810?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"1K6YDe7I5o\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/12/ebd78914be6b20d5eb95f5a3364bc7cc_1161508789644552764.png\",\"link\":\"https://www.hoyolab.com/article/43737155?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"bsm8pdjMAO\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/07/d07948de49222f1a5fc8d4c55ded2ba1_4773158195714088998.jpg\",\"link\":\"https://youtu.be/M7EdOyNE7gs\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"TTimOUUS8A\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/05/d30d1a62da8ff1727166ea3866764410_1339648922372154039.png\",\"link\":\"https://youtu.be/0DmndMnuh5E\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"caHgJPVZrt\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/03/26d0b21d288e310f91b964fee366decb_5155402177155125406.jpg\",\"link\":\"https://youtu.be/06G8YgOrXTw\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"lZL99sGCP0\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/26/4aaa7a50a01658b8bd90f46d29011732_606384431028627542.png\",\"link\":\"https://youtu.be/HLv8Dz8t6Hk\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"bwy9jlL1PF\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Figurenvorschau
        f\xFCr Sunna \u2013 \u201ESo richtig nachtragend\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/0DmndMnuh5E\",\"date\":\"02/05\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"YkRiMPPE1C\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Zeitlich
        begrenzte Kan\xE4le der Version 2.6 (Phase 1)\",\"link\":\"https://www.hoyolab.com/article/43616671?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"02/04\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"kUYBMBtZje\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Aktionsbeschreibung
        zu \u201EHarmonie des Wunschdenkens\u201C\",\"link\":\"https://www.hoyolab.com/article/43620322?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=8\",\"date\":\"02/04\",\"login_state_in_link\":true,\"i18n_identifier\":\"\"},{\"id\":\"EOSDCQ837J\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Figurenvorf\xFChrung
        f\xFCr Sunna \u2013 \u201ETraum-Sampling\u201C | Zenless Zone Zero\",\"link\":\"https://youtu.be/06G8YgOrXTw\",\"date\":\"02/03\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"wkWgteDqip\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u201EHerzschl\xE4ge
        geben das Tempo an\u201C \u2013 Minialbum f\xFCr \u201EAngels of Delusion\u201C
        | Zenless Zone Zero\",\"link\":\"https://youtu.be/HLv8Dz8t6Hk\",\"date\":\"01/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"L2ARjPCO3D\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/25/ca9481b418f0cf5ea7acafffa9f82df9_102342076100525557.png\",\"hover_url\":\"\",\"link\":\"https://www.hoyolab.com/accountCenter/postList?id=219270333\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"26ZC4hsHeb\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/06/25/512e894ffd009e3b208bcbee87291bde_3350843850889106049.png\",\"hover_url\":\"\",\"link\":\"https://www.reddit.com/r/ZZZ_Official/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"22yUO6aQiS\",\"icon\":{\"url\":\"ht[...]
