interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"4ziysqXOQ8","biz":"hkrpg_global","display":{"language":"en-us","name":"Honkai
        Star Rail","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/15/3121d3786d0e84aed5bf378746c3bd34_4203533688348646963.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":null,"logo":null,"thumbnail":null,"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/15/9f845db46ff7a1d610873e06a62af0a0_1779860099599329236.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"9f845db46ff7a1d610873e06a62af0a0","size":541676},"wpf_icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"top_left_logo":null,"introduction":""},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7bc1089a66b567cf:7bc1089a66b567cf:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=gGoJxKOusQ&game_id=4ziysqXOQ8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"language\":\"\",\"banners\":[{\"id\":\"Z5fZR6VqSG\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/05/01/20582c433ff50d8b406be28a13f4f893_804771558515904885.jpg\",\"link\":\"https://hoyo.link/ClDUbLn5R\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"aLXAN70Fml\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/26/588780e09bd65d2feb834f9fa754f809_8582728467320647759.png\",\"link\":\"https://hoyo.link/6q6KEJgxE\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"2Ru1BmHY9j\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/24/fee6e8762d89fe7fdeb609a5c28ceea3_4185254534675427556.jpg\",\"link\":\"https://hsr.hoyoverse.com/guide?tab=submission\\u0026utm_so[...]
