interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGamePackages?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"HXAFlmYa17","biz":"nap_cn"},"main":{"major":{"version":"2.7.0","game_pkgs":[{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260309103618_mkDL8E0hMidGEPPf/VolumeZip/juequling_2.7.0_AS.zip.001","md5":"373572DE6D703BAFA7F17C5BF1635C62","size":"6663700480","decompressed_size":"14660141057"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260309103618_mkDL8E0hMidGEPPf/VolumeZip/juequling_2.7.0_AS.zip.002","md5":"67EA56C9469C2DBF83BC9C4661A8226F","size":"6663700480","decompressed_size":"14660141057"},{"url":"https://autopatchcn.juequling.com/package_download/op/client_app/download/20260309103618_mkDL8E0hMidGEPPf/VolumeZip/juequling_2.7.0_AS.zip.003","md5":"7E905667DBA491698EB5CAF512E67315","size":"6663700480","decompressed_size":"146[...]
