interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"backgrounds":[{"id":"AjCsyH4uSb","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/b75a78a64947fb946a6fde3372c7d5f3_5577153995434074734.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/19b952e45585cff3411caa03e352aff2_5427796781012127324.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/02/910bd8f0d6901f2331c6cee0a26f0c76_4203426725627789379.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"4DQZtRpOuX","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/a1a429104bde67aca9164c60dc4a26f9_4279316736184928923.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"OskVv45iEI","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/29/2019f4b59b399506314fcd046fa3f3ec_1422630935330393500.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79d17701271295554954e
      X-Trace-Id:
      - 7d04ce1b348c45f9:7d04ce1b348c45f9:0:1
    status:
      code: 200
      message: OK
version: 1
