interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=6runUel2hp
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"g0mMIvshDb\",\"biz\":\"bh3_global\"},\"exe_file_name\":\"BH3.exe\",\"installation_dir\":\"Houkai3rd
        game\",\"audio_pkg_scan_dir\":\"\",\"audio_pkg_res_dir\":\"\",\"audio_pkg_cache_dir\":\"\",\"game_cached_res_dir\":\"\",\"game_screenshot_dir\":\"ScreenShot\",\"game_log_gen_dir\":\"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/\u5D29\u58CA3rd\",\"game_crash_file_gen_dir\":\"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/\u5D29\u58CA3rd/Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":true,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":false,\"game_log_export_config\":null,\"blacklist_dir\":\"\",\"wpf_exe_dir\":\"\",\"wpf_pkg_version_dir\":\"\",\"enable_audio_pkg_mgmt\":false,\"audio_pkg_config_dir\":\"\",\"enable_resource_deletion_adapter\":false,\"enable_resource_blacklist\":false,\"enable_redundant_file_cleanup\":false,\"redundant_file_cleanup_paths\":[],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":false,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"}],\"game_branches\":[{\"game\":{\"id\":\"g0mMIvshDb\",\"biz\":\"bh3_global\"},\"main\":{\"package_id\":\"B2YDS7WUq2\",\"branch\":\"main\",\"password\":\"Rv3jD9l4CRvc\",\"tag\":\"8.8.0\",\"diff_tags\":[],\"categories\":[{\"category_id\":\"10174\",\"matching_field\":\"game\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10179\",\"matching_field\":\"asb\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]}],\"required_client_version\":\"\"},\"pre_download\":null,\"enable_base_pkg_predownload\":false}],\"game_packages\":[{\"game\":{\"id\":\"g0mMIvshDb\",\"biz\":\"bh3_global\"},\"main\":{\"major\":{\"version\":\"8.8.0\",\"game_pkgs\":[{\"url\":\"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20260421113518_mzG4RcD0f9aNmZEh/BH3_v8.8.0_cec468aad479.7z\",\"md5\":\"bde554240cf0626b41c25c8986b21d23\",\"size\":\"25457396026\",\"decompressed_size\":\"50925277812\"}],\"audio_pkgs\":[],\"res_list_url\":\"https://autopatchjp.honkaiimpact3.com/ptpublic/bh3_jp/20260421113518_mzG4RcD0f9aNmZEh/extract\"},\"patches\":[],\"required_client_version\":\"\"},\"pre_download\":{\"major\":null,\"patches\":[],\"required_client_version\":\"\"}}],\"game_channel_sdks\":[],\"deprecated_file_configs\":[]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 312da7febd83e01:312da7febd83e01:0:1
    status:
      code: 200
      message: OK
version: 1
