interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=ACQazS79kX&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"version":"2.45.1","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/08/104062b5f6511c942104839b4894f7ae_6028887012417676083.zip","md5":"104062b5f6511c942104839b4894f7ae","size":"8187139","decompressed_size":"16374278"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 651db1eb2666d548:651db1eb2666d548:0:1
    status:
      code: 200
      message: OK
version: 1
