interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"x6znKlJ0xK","biz":"nap_cn"},"backgrounds":[{"id":"t8F5c7BBnx","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/bea9b94160cd36b44cdd9ac5c99a5603_7887497551089033488.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/7089da8027dedae1ed268eb8bd831905_4973003782507491474.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/62541a3fb2831165c75eb28db6f662b7_7584148738211040455.png","link":"https://www.miyoushe.com/zzz/article/71891245","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/30/a1b387b4bdafde39c28131c03a5ed077_7124872498064209052.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/26/e82c3508033fdf5ffa11479a6671de1f_3085595021860822972.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"64kMb5iAWu","biz":"hkrpg_cn"},"backgrounds":[{"id":"SsViAyn6CU","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/b286b9470e3aaf91b7440477bd2ecb05_1982548202716557709.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/12/714d5c5266f48a90ff23927833adc31d_3031647044321966180.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/[...]
