interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=VYTpXlbWo8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Zenless
        Zone Zero\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/db01dfe29c36a283b774d295b2322b54_6508212206846113861.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/12/22/48de742c7ab48b8ad1b25ae7579c096d_7192295705544624235.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/beab753b7e3d2a50b372697647fa2e72_8064756669861889000.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/07/03/1357f4534e1bbca74ed59b303781efe2_6312953840017286157.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/06/18/6d1cf7d5575dfb9d0518ba9ecb42ad7c_7622002898463700803.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"6d1cf7d5575dfb9d0518ba9ecb42ad7c\",\"size\":116372},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0}},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\",\"display\":{\"language\":\"en-us\",\"name\":\"Honkai
        Star Rail\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/09/22/4cc51f558225dba65cc875ecd642cfe2_6726801704251292131.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/11/56468a48fa2f0e736cd0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=U5hbdsT9W7
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"U5hbdsT9W7\",\"biz\":\"nap_global\"},\"language\":\"\",\"banners\":[{\"id\":\"aeZUSF5Ups\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/01/4752c07130e89c5d16f30a3380f03cc4_7747653627290816918.jpg\",\"link\":\"https://www.hoyolab.com/article/43039871?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"gtST4V66S8\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/01/a21b0b1ff97fea154bc95de72b111743_37261547404796665.png\",\"link\":\"https://www.hoyolab.com/article/43037944?utm_source=launcher\\u0026utm_medium=banner\\u0026utm_id=8\",\"login_state_in_link\":true},\"i18n_identifier\":\"\"},{\"id\":\"Zc7hjPvn9s\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/30/21aa9ea448e69481dc2c2f015a01bb62_3904343670477951052.png\",\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=4ziysqXOQ8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"4ziysqXOQ8\",\"biz\":\"hkrpg_global\"},\"language\":\"\",\"banners\":[{\"id\":\"1Jc81kAMEW\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/16/849cf591503536f7b15a3ce2b1b947c5_90300206[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=gopR6Cufr3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"gopR6Cufr3\",\"biz\":\"hk4e_global\"},\"language\":\"\",\"banners\":[{\"id\":\"CBeV7F4bVr\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/01/20/b74799aaf0246fb7059783486d3df123_715505262[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=VYTpXlbWo8&game_id=5TIVvvcwtM
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"5TIVvvcwtM\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"aq4xLi1GFx\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/31/87278290d225c28a04923fdb8c0540c7_7040013701916628415.jpg\",\"link\":\"https://youtu.be/pDVKpiSs-xI\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"elgNm4gOxe\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/26/abdbc02a0387d85162da584303b00b9f_3583191187014296739.png\",\"link\":\"https://youtu.be/X54wCKVzNNg\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"KTMFFFGrXc\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Update-Ank\xFCndigung:
        v8.6 \\\"Geheimoperation: Bankett\\\"\",\"link\":\"https://hoyo.link/IO83s5QKK\",\"date\":\"12/31\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"L8XcBJ34sN\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Ritas
        neuer Rang-S-Kampfanzug \\\"Fr\xE4ulein Spionin\\\" erscheint\",\"link\":\"https://hoyo.link/bQD7kROei\",\"date\":\"12/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"dvOv2I2Gt2\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1100616699269552016.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/global\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"6fRUWl54T7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_6757827193489975771.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/global.honkaiimpact\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tE3lIeMEim\",\"icon\":{\"url\[...]
