interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=L83o6ar17w
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"wkE5P5WsIf\",\"biz\":\"bh3_global\",\"display\":{\"language\":\"en-us\",\"name\":\"\u5D29\u58DE3rd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_4561228993487886361.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/d181190a18375eb77fa923b582160378_7079386488352318022.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/11/b0ab0ec4ad165771d804e374688bd27e_653685432563040028.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_7147944388992174426.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/23/b654cc6fb434b7054a3e3fefe1f4a9a0_7131181854140008204.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"b654cc6fb434b7054a3e3fefe1f4a9a0\",\"size\":398969},\"wpf_icon\":null,\"top_left_logo\":null,\"introduction\":\"\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[{\"i18n_name\":\"\u5D29\u58DE3rd\",\"i18n_description\":\"Traditional
        Chinese Server\",\"package_name\":\"asia_official\",\"auto_scan_registry_key\":\"\u5D29\u58DE3rd\",\"package_detection_info\":\"asia_official\",\"game_id\":\"wkE5P5WsIf\",\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\"}]}]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4ad5ef125e7066d0:4ad5ef125e7066d0:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=L83o6ar17w&game_id=wkE5P5WsIf
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"wkE5P5WsIf\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"mDDogkkqcT\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/29/078f4c127a5eb87652e10c792ef125ec_8796983233285919582.png\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"0TDG17exrK\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/28/ea4eef55fa5bcf0886adb29434231941_3361225879523038883.png\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"UBTn4Q3Yn6\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/24/fe9e3f10bff17fa3978e61347ace48ec_55618604704714406.png\",\"link\":\"https://youtu.be/yNSeE2Ch_ZA\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"YLt6jDpfnU\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u300C\u6578\u6D77\u6E38\u96F2\u300D8.8\u7248\u672C\u66F4\u65B0\u516C\u544A\",\"link\":\"https://hoyo.link/HgTck0tX5\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"dFqrXxQWau\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"\u767D\u9E7F\u6E38\u96F2\u7684\u521D\u5370\u8C61\u8ABF\u67E5\u4E28\u53C3\u8207\u62BD$100\u79AE\u54C1\u5361\uFF01\u9084\u6709100\u6C34\u6676\u5168\u670D\u514C\u63DB\u78BC\u7B49\u8457\u4F60~\",\"link\":\"https://hoyo.link/Lm9dmNHli\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"3Tqu0z0d4c\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u5168\u65B0\u5354\u540C\u8005\u300C\u767D\u9E7F\u6E38\u96F2\u300D\\u0026
        \u795E\u4E4B\u9375\u300C\u84BC\u96F7\u661F\u68ADEX19\u300D\u767B\u5834\uFF01\",\"link\":\"https://www.hoyolab.com/article/44762731\",\"date\":\"04/29\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"vk4cWxYHYO\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_2867860078646569818.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/tw/zh-tw/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tAdy594Xs7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_4130316096331131404.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/bh3tw\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"uAHG7SfjHo\",\"icon\":{\"url\":\"https://la[...]
