interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"gopR6Cufr3","biz":"hk4e_global","display":{"language":"en-us","name":"Genshin
        Impact","icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/2e81b12276a2260c10133124e6ead00e_127960437642481968.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/a5555e5aa4f4da3d1efc3b86ef65e456_7792457472547838550.webp","link":"","login_state_in_link":false},"logo":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/7f777384d29cac1ea0d34b4e16d4487b_2092553358310716519.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/68e8178e137f6b0259e4da49b5a9be8e_8412451782424407383.png","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/10/11/329c587494692a8e3724d10deb406844_5995617087587994357.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"329c587494692a8e3724d10deb406844","size":228875},"wpf_icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/10/11/7ca67838ed44d0cfdb3d31bd8f2ad51f_1736444674914902843.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"top_left_logo":null,"introduction":""},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 15d1fa5968524ca0:15d1fa5968524ca0:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=8fANlj5K7I&game_id=gopR6Cufr3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"gopR6Cufr3\",\"biz\":\"hk4e_global\"},\"language\":\"\",\"banners\":[{\"id\":\"cPFmX6vUz1\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/30/c23401f433d44e5bc1943b68fb00e972_4774780383912723211.jpg\",\"link\":\"https://hoyo.link/XLEW8PXVN\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"SegSI996G3\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/23/10cbd64d566e4a20cfc06d1c3e995692_745044903853126300.jpg\",\"link\":\"https://hoyo.link/feBr2Y9UC\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"Kyhv11nqA3\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/23/03f886561c23bc69b558e116a8260d57_7224501339244388290.jpg\",\"link\":\"https://hoyo.link/feBr2Y9UC\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"2kPcs9WlIN\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/23/3f6f3a91d091ae97a6e7276e4b54abab_3331990696567915584.jpg\",\"link\":\"https://hoyo.link/feBr2Y9UC\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"vwL1SpdUeD\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/04/23/2a274636e1c8395a64261af664e044ad_1974147830290359145.jpg\",\"link\":\"https://hoyo.link/feBr2Y9UC\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"e18tqWrG8Y\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/03/28/798db758587f112c6ce8342e481735f2_5002908406729618033.jpg\",\"link\":\"https://hoyo.link/GWas4HKrt\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"7tmf8mM6uj\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Aktionsvorschau
        f\xFCr Version Luna VI \u201EVorhergesagte Heimkehr\u201C \u2013 Teil 2\",\"link\":\"https://hoyo.link/jvBpiFE5t\",\"date\":\"04/23\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"HeA9ZejpnL\",\"type\":\"POST_TYPE_ACTIVITY\",\"title\":\"Die
        Beitragsaktion der Talent-Kolumne von Version Luna VI beginnt! Teile deine
        Ansichten zu Levels, um Arkane Keilsteine zu gewinnen.\",\"link\":\"https://hoyo.link/xwWHHgD4z\",\"date\":\"04/08\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"miEJAha0S2\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Erl\xE4uterungen
        zur Fehlerbehebung und Optimierung der Aktualisierung auf Version Luna VI\",\"link\":\"https://www.hoyolab.com/article_pre/22662?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=2\",\"date\":\"04/08\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"IudG1sHBsB\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Erl\xE4uterungen
        zur Aktualisierung auf Version Luna VI \u201E\u201ALied des leeren Mondes
        \u2013 Wirbeltanz\u2018: Vorhergesagte Heimkehr\u201C\",\"link\":\"https://www.hoyolab.com/article_pre/22642?utm_source=launcher\\u0026utm_medium=notice\\u0026utm_id=2\",\"date\":\"04/08\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"YxoKBQ0NRM\",\"type\":\"POST_TYPE_INFO\",\"title\":\"Aktionsvorschau
        f\xFCr Version Luna VI \u201EVorhergesagte Heimkehr\u201C \u2013 Teil 1\",\"link\":\"https://hoyo.link/l9xULgUrS\",\"date\":\"04/06\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"9EDA58xyXL\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/05/15/1eee1d4f237452da40a34616e6ec74c6_3749654937052559710.png\",\"hover_url\":\"\",\"link\":\"https://hoyo.link/7QdfFBAL\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"j5R04xIdPE\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/05/15/a1b226ceebccd56768c5272f306f380e_7340107679485269553.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/03/02/39d95034e5c39ca2418cc7f87a4c7b66_5031700092163385125.png\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[{\"title\":\[...]
