interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"T2S0Gz4Dr2\",\"biz\":\"hk4e_cn\"},\"exe_file_name\":\"YuanShen.exe\",\"installation_dir\":\"Genshin
        Impact Game\",\"audio_pkg_scan_dir\":\"YuanShen_Data/Persistent/audio_lang_14\",\"audio_pkg_res_dir\":\"YuanShen_Data/StreamingAssets/AudioAssets\",\"audio_pkg_cache_dir\":\"YuanShen_Data/Persistent/AudioAssets\",\"game_cached_res_dir\":\"YuanShen_Data/Persistent\",\"game_screenshot_dir\":\"ScreenShot\",\"game_log_gen_dir\":\"%userprofile%/AppData/LocalLow/miHoYo/\u539F\u795E\",\"game_crash_file_gen_dir\":\"%userprofile%/AppData/Local/Temp\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":false,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":false,\"game_log_export_config\":null,\"blacklist_dir\":\"\",\"wpf_exe_dir\":\"BeyondAssets/BeyondAssistEditor/BeyondEditor.exe\",\"wpf_pkg_version_dir\":\"beyond_pkg_version\",\"enable_audio_pkg_mgmt\":false,\"audio_pkg_config_dir\":\"\",\"enable_resource_deletion_adapter\":false,\"enable_resource_blacklist\":false,\"enable_redundant_file_cleanup\":false,\"redundant_file_cleanup_paths\":[],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":true,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"}],\"game_branches\":[{\"game\":{\"id\":\"T2S0Gz4Dr2\",\"biz\":\"hk4e_cn\"},\"main\":{\"package_id\":\"ShYmPEuLMY\",\"branch\":\"main\",\"password\":\"4Rj5ER1XxjQh\",\"tag\":\"6.6.0\",\"diff_tags\":[\"6.5.0\",\"6.4.0\"],\"categories\":[{\"category_id\":\"10017\",\"matching_field\":\"game\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10018\",\"matching_field\":\"zh-cn\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10019\",\"matching_field\":\"en-us\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10021\",\"matching_field\":\"ja-jp\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10020\",\"matching_field\":\"ko-kr\",\"type\":\"CATEGORY_TYPE_AUDIO\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]}],\"required_client_version\":\"\"},\"pre_download\":null,\"enable_base_pkg_predownload\":false}],\"game_packages\":[{\"game\":{\"id\":\"T2S0Gz4Dr2\",\"biz\":\"hk4e_cn\"},\"main\":{\"major\":{\"version\":\"5.5.0\",\"game_pkgs\":[{\"url\":\"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.001\",\"md5\":\"0c0994a7d0ebaf5609d86d5853c8e89e\",\"size\":\"10737418240\",\"decompressed_size\":\"21485322240\"},{\"url\":\"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.002\",\"md5\":\"af2c99cc83eb4817c2877924bc77ae5e\",\"size\":\"10737418240\",\"decompressed_size\":\"21485322240\"},{\"url\":\"https://autopatchcn.yuanshen.com/client_app/download/pc_zip/20250314105313_OcRjEyGXX8Txtqm4/YuanShen_5.5.0.zip.003\",\"md5\":\"5b97ce7d8a999dcd4651edf0b3a0a742\",\"size\":\"10737418240\",\"decompressed_size\":\"21485322240\"},{\"url\":[...]
