interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"main":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260421111037_sCCv26Z0nXxaSHy5/BH3_v8.8.0_cec468aad479.7z","md5":"4de4a1e6e18c769aafe23c4c55cb171e","size":"26169248309","decompressed_size":"52348982378"}],"audio_pkgs":[],"res_list_url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260421111037_sCCv26Z0nXxaSHy5/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - fe54d71508ad618:fe54d71508ad618:0:1
    status:
      code: 200
      message: OK
version: 1
