interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"backgrounds":[{"id":"WwSmp2MDP4","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/02/2bba5e8dcc07ae56be8f1f0d0fb1289b_35438490910868979.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/02/09c1ca522f6fc1ae3387bae8f5cb9263_4004857338456763061.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/02/f79d10e39de21d8f818da5be1162e4d4_7993177780818309265.png","link":"https://act.hoyoverse.com/ys/event/e20210601blue_post/vert.html?gamewebview=1\u0026page_sn=6f51a15085c947f7\u0026mode=fullscreen\u0026game_biz=hk4e_global\u0026sign_type=2\u0026auth_appid=bluepost\u0026authkey_ver=1","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/02/19b952e45585cff3411caa03e352aff2_4718984543055608412.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/02/125a8c82db3e7b23afdb67dd9970e0fb_1154462597502356372.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"3rGo0JGRMV","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/041d8fe452529cd44bcd35a9291d0fed_8056328704205937096.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/3c6b69660d825ae3c226bea652af4b07_4548071550113334452.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/01/13/501e9e340cd5006981d4b396a9649d78_6336530427835044819.png","link":"https://act.hoyoverse.com/ys/event/e20210601blue_post/vert.html?gamewebview=1\u0026page_sn=6f51a15085c947f7\u0026mode=fullscreen\u0026game_biz=hk4e_global\u0026sign_type=2\u0026auth_appid=bluepost\u0026authkey_ver=1","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 76e041fb55d3dfba:76e041fb55d3dfba:0:1
    status:
      code: 200
      message: OK
version: 1
