interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"EdtUqXfCHh","biz":"hkrpg_cn"},"backgrounds":[{"id":"ldi1VuutBX","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/0672611a32e2c4ede865f19f14245389_4922328922163933024.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/bd329019a99f57eedd89a27c138679dc_5529044073962412737.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/a6bfa337926a5f2c7c22f3e1d0132b6f_8643371329703141534.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"0OHbNuvhE7","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/5b283e4e7583e5ba5eaef3f6c80a8a51_6758494859114320673.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9b17779945336094637e
      X-Trace-Id:
      - 51f2020aa58d8ff8:51f2020aa58d8ff8:0:1
    status:
      code: 200
      message: OK
version: 1
