interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=gGoJxKOusQ
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"backgrounds":[{"id":"jx8IZpjrKS","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/16/ef3a48216726e3b30e297d8cf3bb9785_7822894803459636909.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/08/08/76745a5dcebecb8fca966cde7cebd8d1_6675598377348381272.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/08/08/76745a5dcebecb8fca966cde7cebd8d1_6675598377348381272.png","link":"https://act.hoyoverse.com/puzzle/hkrpg/rpg_version_page_380_1327/index.html?hyl_presentation_style=fullscreen\u0026hyl_auth_required=true\u0026hyl_landscape=true\u0026hyl_hide_status_bar=true\u0026mode=fullscreen\u0026win_mode=fullscreen","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/12/7e25cec11e52875e74fe90ad22ae2219_6293592742011782222.webm","size":0},"theme":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/12/16/7188ea64bce9973004ededbbeea66d91_705564168959170111.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7774a7e58778bcee:7774a7e58778bcee:0:1
    status:
      code: 200
      message: OK
version: 1
