interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"x6znKlJ0xK","biz":"nap_cn"},"backgrounds":[{"id":"Lk1D4fbIwv","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/1858bfcdb694846618046d3ac3cbf143_8045544856333310455.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/06332792740b37ec2a6f74310512afb8_800273683260195192.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/62541a3fb2831165c75eb28db6f662b7_4523429769123360366.png","link":"https://www.miyoushe.com/zzz/article/74878239","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/28/e979cbf167ddce9a2bdfcf69092f68a3_5650902039900131554.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/308483c0e88a44eb4cff6e4d47937c0a_4834179960130713394.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"64kMb5iAWu","biz":"hkrpg_cn"},"backgrounds":[{"id":"PHgQtF6LEp","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/0672611a32e2c4ede865f19f14245389_4922328922163933024.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/9797dcba1811d630c24550a26a2bc9cd_8452829414849101231.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/[...]
