interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=0hUu4SbmhI
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"FUoEmzPdP3","biz":"nap_global"},"main":{"major":{"version":"2.7.0","game_pkgs":[{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260309110439_llbyoA8QnJfwoVf2/VolumeZip/ZenlessZoneZero_2.7.0_AS.zip.001","md5":"A0813E509A6D5A508EAE6C623868F488","size":"6664749056","decompressed_size":"14662447924"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260309110439_llbyoA8QnJfwoVf2/VolumeZip/ZenlessZoneZero_2.7.0_AS.zip.002","md5":"DADF9F5185DEEC0FC5C99CC55965CE40","size":"6664749056","decompressed_size":"14662447924"},{"url":"https://autopatchos.zenlesszonezero.com/package_download/op/client_app/os/download/20260309110439_llbyoA8QnJfwoVf2/VolumeZip/ZenlessZoneZero_2.7.0_AS.zip.003","md5":"A06A7715916468E16F3289BAF89C688F","size":"666474[...]
