interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=6P5gHMNyK3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a717722137737243380e
      X-Trace-Id:
      - 33ad2e49078ba79b:33ad2e49078ba79b:0:1
    status:
      code: 200
      message: OK
version: 1
