interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameComboInfo?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\"},\"exe_file_name\":\"BH3.exe\",\"installation_dir\":\"Honkai
        Impact 3rd kr game\",\"audio_pkg_scan_dir\":\"\",\"audio_pkg_res_dir\":\"\",\"audio_pkg_cache_dir\":\"\",\"game_cached_res_dir\":\"\",\"game_screenshot_dir\":\"ScreenShot\",\"game_log_gen_dir\":\"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/\uBD95\uAD343rd\",\"game_crash_file_gen_dir\":\"%systemdrive%/Users/%username%/AppData/LocalLow/miHoYo/\uBD95\uAD343rd/Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":true,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":false,\"game_log_export_config\":null,\"blacklist_dir\":\"\",\"wpf_exe_dir\":\"\",\"wpf_pkg_version_dir\":\"\",\"enable_audio_pkg_mgmt\":false,\"audio_pkg_config_dir\":\"\",\"enable_resource_deletion_adapter\":false,\"enable_resource_blacklist\":false,\"enable_redundant_file_cleanup\":false,\"redundant_file_cleanup_paths\":[],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":false,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false,\"enable_write_verify_result\":false,\"write_verify_result_path\":\"\"}],\"game_branches\":[{\"game\":{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\"},\"main\":{\"package_id\":\"z2VwrBdMdt\",\"branch\":\"main\",\"password\":\"TnIToyd4kkTm\",\"tag\":\"8.8.0\",\"diff_tags\":[],\"categories\":[{\"category_id\":\"10175\",\"matching_field\":\"game\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]},{\"category_id\":\"10180\",\"matching_field\":\"asb\",\"type\":\"CATEGORY_TYPE_RESOURCE\",\"scenarios\":[\"CATEGORY_SCENARIO_FULL\"]}],\"required_client_version\":\"\"},\"pre_download\":null,\"enable_base_pkg_predownload\":false}],\"game_packages\":[{\"game\":{\"id\":\"uxB4MC7nzC\",\"biz\":\"bh3_global\"},\"main\":{\"major\":{\"version\":\"8.8.0\",\"game_pkgs\":[{\"url\":\"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260421113050_xjzsIsJm2Wp2GTmE/BH3_v8.8.0_cec468aad479.7z\",\"md5\":\"1f11d1e5c5663b00ca29128dea4b09e4\",\"size\":\"25544282407\",\"decompressed_size\":\"51099050574\"}],\"audio_pkgs\":[],\"res_list_url\":\"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20260421113050_xjzsIsJm2Wp2GTmE/extract\"},\"patches\":[],\"required_client_version\":\"\"},\"pre_download\":{\"major\":null,\"patches\":[],\"required_client_version\":\"\"}}],\"game_channel_sdks\":[],\"deprecated_file_configs\":[]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 46cbb96af6af4b1f:46cbb96af6af4b1f:0:1
    status:
      code: 200
      message: OK
version: 1
