interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"backgrounds":[{"id":"E8mP0iFSol","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/bda7dd8e383b0da5a0dd41c11e79f264_814207331993236934.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/f3c44cd72c6214ed680afe5fe90b26fc_3664719866444062150.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/906cd7e51b3289bb7a7cfc049efec3a0_7698065459774966488.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"4DQZtRpOuX","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/14/a1a429104bde67aca9164c60dc4a26f9_4279316736184928923.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"OskVv45iEI","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2025/12/29/2019f4b59b399506314fcd046fa3f3ec_1422630935330393500.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d27ac17689192652382467e
      X-Trace-Id:
      - 3042d603d847c1d:3042d603d847c1d:0:1
    status:
      code: 200
      message: OK
version: 1
