interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=L83o6ar17w
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"wkE5P5WsIf\",\"biz\":\"bh3_global\",\"display\":{\"language\":\"en-us\",\"name\":\"\u5D29\u58DE3rd\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_4561228993487886361.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/d181190a18375eb77fa923b582160378_7079386488352318022.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/11/b0ab0ec4ad165771d804e374688bd27e_653685432563040028.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_7147944388992174426.png\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/23/b654cc6fb434b7054a3e3fefe1f4a9a0_7131181854140008204.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"b654cc6fb434b7054a3e3fefe1f4a9a0\",\"size\":398969},\"wpf_icon\":null},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[{\"i18n_name\":\"\u5D29\u58DE3rd\",\"i18n_description\":\"Traditional
        Chinese Server\",\"package_name\":\"asia_official\",\"auto_scan_registry_key\":\"\u5D29\u58DE3rd\",\"package_detection_info\":\"asia_official\",\"game_id\":\"wkE5P5WsIf\",\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\"}]}]}}"
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 577697e1b391e0a5:577697e1b391e0a5:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=L83o6ar17w&game_id=wkE5P5WsIf
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"wkE5P5WsIf\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"YF94W0CvEx\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/24/dfab6e1264c6ae79581fdc606eb5d154_5467974702597984406.png\",\"link\":\"https://hoyo.link/lNw0w5eqG\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"kOXM7lYnOL\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/14/e7c680fe7c1422dc195da15834763723_8116249809954479498.png\",\"link\":\"https://hoyo.link/kt50s23v6\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"9Gj4XLhY0S\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/13/f38c973aba345b602814196af1c73295_5232835658284942564.png\",\"link\":\"https://hoyo.link/i6d7CUr9a\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"45w06qvP35\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"8.7\u7248\u672C\u7DAD\u8B77\u901A\u77E5\u3001\u65B0\u6D3B\u52D5\u9810\u544A\",\"link\":\"https://www.hoyolab.com/article/43943955\",\"date\":\"02/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"aX4yUqbOV6\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"\u5168\u65B0S\u7D1A\u89D2\u8272\u9E97\u5854\u300C\u7A88\u7A95\u8ADC\u5F71\u300D\u767B\u5834\",\"link\":\"https://hoyo.link/bQD7kROei\",\"date\":\"12/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"vk4cWxYHYO\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_2867860078646569818.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/tw/zh-tw/\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tAdy594Xs7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_4130316096331131404.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/bh3tw\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"uAHG7SfjHo\",\"icon\":{\"url\":\"https://la[...]
