interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"5TIVvvcwtM","biz":"bh3_global"},"main":{"major":{"version":"8.7.0","game_pkgs":[{"url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260225162720_bx4r4lc0CK5GqoSh/BH3_v8.7.0_3cd541758856.7z","md5":"36639f885aa48059e9ce39f792ab6d79","size":"25814739453","decompressed_size":"51639964666"}],"audio_pkgs":[],"res_list_url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260225162720_bx4r4lc0CK5GqoSh/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":{"version":"8.8.0","game_pkgs":[{"url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260421111037_sCCv26Z0nXxaSHy5/BH3_v8.8.0_cec468aad479.7z","md5":"4de4a1e6e18c769aafe23c4c55cb171e","size":"26169248309","decompressed_size":"52348982378"}],"audio_pkgs":[],"res_list_url":"https://autopatchglb.honkaiimpact3.com/ptpublic/bh3_glb/20260421111037_sCCv26Z0nXxaSHy5/extract"},"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 52843083833b8550:52843083833b8550:0:1
    status:
      code: 200
      message: OK
version: 1
