interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=jGHBHlcOq1&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5a49b17689193424353953e
      X-Trace-Id:
      - 3c72054cdeb1436c:3c72054cdeb1436c:0:1
    status:
      code: 200
      message: OK
version: 1
