interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=L83o6ar17w
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"wkE5P5WsIf","biz":"bh3_global"},"backgrounds":[{"id":"FnitBBbiH0","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/963de025298d275f6cb1d8f7c0e8c2f8_2123806488674214387.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"fkZmo6YFNc","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/06966e7f9c65374c05d9beff0e069aed_1480673383003808784.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/31b05915030eed21766c10b25ff1953e_6823769573114616310.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/3735d0bd7edf83f7369315ab68590690_4288715624662638040.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 56a6f10506a7255e:56a6f10506a7255e:0:1
    status:
      code: 200
      message: OK
version: 1
