interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameConfigs?launcher_id=6P5gHMNyK3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"launch_configs\":[{\"game\":{\"id\":\"EdtUqXfCHh\",\"biz\":\"hkrpg_cn\"},\"exe_file_name\":\"StarRail.exe\",\"installation_dir\":\"Star
        Rail Game\",\"audio_pkg_scan_dir\":\"StarRail_Data/Persistent/AudioLaucherRecord.txt\",\"audio_pkg_res_dir\":\"StarRail_Data/Persistent/Audio/AudioPackage/Windows\",\"audio_pkg_cache_dir\":\"\",\"game_cached_res_dir\":\"StarRail_Data/Persistent\",\"game_screenshot_dir\":\"StarRail_Data/ScreenShots\",\"game_log_gen_dir\":\"\",\"game_crash_file_gen_dir\":\"%temp%/miHoYo/\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053/Crashes\",\"default_download_mode\":\"DOWNLOAD_MODE_CHUNK\",\"enable_customer_service\":false,\"local_res_dir\":\"\",\"local_res_cache_dir\":\"\",\"res_category_dir\":\"\",\"game_res_cut_dir\":\"\",\"enable_game_log_export\":true,\"game_log_export_config\":{\"file_size_filter\":\"10485760\",\"export_timeout\":\"120\",\"export_files\":[{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\Player.log\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\output_log.txt\"},{\"file_type\":\"EXPORT_FILE_TYPE_FILE\",\"method\":\"EXPORT_METHOD_ALL_FILES\",\"path\":\"%USERPROFILE%\\\\AppData\\\\LocalLow\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\output_log.txt.last\"},{\"file_type\":\"EXPORT_FILE_TYPE_DIR\",\"method\":\"EXPORT_METHOD_LATEST_FILE\",\"path\":\"%USERPROFILE%\\\\AppData\\\\Local\\\\Temp\\\\miHoYo\\\\\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\\\\Crashes\"},{\"file_type\":\"EXPORT_FILE_TYPE_DIR\",\"method\":\"EXPORT_METHOD_LATEST_FILE\",\"path\":\"%SystemRoot%\\\\Minidump\"}]},\"blacklist_dir\":\"StarRail_Data\\\\Persistent\\\\DownloadBlacklist.json\",\"wpf_exe_dir\":\"\",\"wpf_pkg_version_dir\":\"\",\"enable_audio_pkg_mgmt\":true,\"audio_pkg_config_dir\":\"StarRail_Data\\\\Persistent\\\\Audio\\\\AudioPackage\\\\Windows\\\\AudioLangRedord.txt\",\"enable_resource_deletion_adapter\":true,\"enable_resource_blacklist\":true,\"enable_redundant_file_cleanup\":true,\"redundant_file_cleanup_paths\":[\"StarRail_Data\\\\StreamingAssets\\\\Asb\\\\Windows\"],\"enable_v2_game_detection\":false,\"related_processes\":[\"\"],\"enable_ldiff\":true,\"scenario_pkg_info\":null,\"local_scenario_config_path\":\"\",\"enable_full_pkg_recommend\":false,\"enable_scenario_pkg\":false,\"enable_dx_switch\":false}]}}"
    headers:
      Content-Type:
      - application/json
      EagleId:
      - a3b5c79b17701271307133186e
      X-Trace-Id:
      - 6687ba395850e618:6687ba395850e618:0:1
    status:
      code: 200
      message: OK
version: 1
