interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=gGoJxKOusQ&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[{"game":{"id":"4ziysqXOQ8","biz":"hkrpg_global"},"version":"4.1.0","channel_sdk_pkg":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/25/98a2cef485eb660373810a8a3c7560f4_4819699705121755284.zip","md5":"98a2cef485eb660373810a8a3c7560f4","size":"8187219","decompressed_size":"16374438"},"pkg_version_file_name":"sdk_pkg_version"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - c8394403cf21b0e:c8394403cf21b0e:0:1
    status:
      code: 200
      message: OK
version: 1
