interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"5TIVvvcwtM","biz":"bh3_global","display":{"language":"en-us","name":"Honkai
        Impact 3rd","icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/3526a039dddb4c8ca9d1083555f5781b_6841086697744260757.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/1aa568b2f1d93bf5e9ed30fefb4b7de7_8503220238812872813.webp","link":"","login_state_in_link":false},"logo":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/746d0f9bdea8bec75dcba30363ee4869_5042730857509214632.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/09/25/cc7803752504e6b23a9aded8b60596cf_8442822819633803061.png","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/12/23/b654cc6fb434b7054a3e3fefe1f4a9a0_5274544621224741390.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"b654cc6fb434b7054a3e3fefe1f4a9a0","size":398969},"wpf_icon":null},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[{"i18n_name":"Honkai
        Impact 3rd","i18n_description":"Europe \u0026 Americas Servers","package_name":"glb_official","auto_scan_registry_key":"Honkai
        Impact 3rd","package_detection_info":"glb_official","game_id":"5TIVvvcwtM","reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 33d84b2cbe61f6e:33d84b2cbe61f6e:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=ACQazS79kX&game_id=5TIVvvcwtM
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"5TIVvvcwtM\",\"biz\":\"bh3_global\"},\"language\":\"\",\"banners\":[{\"id\":\"NqLslKLz68\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/24/4355735e0bdc4d7a6ece8691915ae7af_3743783968327326016.png\",\"link\":\"https://hoyo.link/lNw0w5eqG\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"3hopQYOsg4\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/14/343f2425bd7fcea0e21aba4648f7be54_3033832144787073581.png\",\"link\":\"https://hoyo.link/kt50s23v6\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"5BoT6w1TUH\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/13/3db92215963db5672fe0b288170ab4cd_3899912027678745660.png\",\"link\":\"https://hoyo.link/ow7kEUT21\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"FdYRbgGyZF\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Ank\xFCndigung
        zur Wartung von v8.7 und Vorschau auf die neuen Events\",\"link\":\"https://www.hoyolab.com/article/43943955\",\"date\":\"02/26\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"L8XcBJ34sN\",\"type\":\"POST_TYPE_ANNOUNCE\",\"title\":\"Ritas
        neuer Rang-S-Kampfanzug \\\"Fr\xE4ulein Spionin\\\" erscheint\",\"link\":\"https://hoyo.link/bQD7kROei\",\"date\":\"12/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"}],\"social_media_list\":[{\"id\":\"dvOv2I2Gt2\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/33a1c76536265a82344a200b29da408d_1100616699269552016.png\",\"hover_url\":\"\",\"link\":\"https://honkaiimpact3.mihoyo.com/global\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"6fRUWl54T7\",\"icon\":{\"url\":\"https://launcher-webstatic.hoyoverse.com/launcher-public/2024/10/14/4f88c988da20e30a9a0e13eafe4b102c_6757827193489975771.png\",\"hover_url\":\"\",\"link\":\"https://www.facebook.com/global.honkaiimpact\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"qr_image\":{\"url\":\"\",\"link\":\"\",\"login_state_in_link\":false},\"qr_desc\":\"\",\"links\":[],\"enable_red_dot\":false,\"red_dot_content\":\"\"},{\"id\":\"tE3lIeMEim\",\"icon\":{\"url\[...]
