interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=ACQazS79kX
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"5TIVvvcwtM","game_exe_list":[{"version":"8.8.0","md5":"3e969b815fdb1a47e1343e693b0d046f"},{"version":"8.7.0","md5":"2e2b14fe09444f088e5b09fde15bb4c9"},{"version":"8.6.0","md5":"d7c398885ea49493590c495f13a1f7b1"},{"version":"8.5.0","md5":"ccf5362684875368a4de6bd4e7f051d6"},{"version":"8.4.0","md5":"469f076fb2a98a7cad1b7eacc309bfdc"},{"version":"8.3.0","md5":"69883cb112f47bf7adf6a49d416ff406"},{"version":"8.2.0","md5":"92c11ab54a82c6f662a1ce4b9cee2eef"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 2d6afa5b30cc5aad:2d6afa5b30cc5aad:0:1
    status:
      code: 200
      message: OK
version: 1
