interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[{"game":{"id":"1Z8W5NHUQb","biz":"hk4e_cn"},"deprecated_files":[{"name":"YuanShen_Data/Plugins/mihoyonet.dll"},{"name":"YuanShen_Data/Plugins/APMLog.dll"},{"name":"YuanShen_Data/Plugins/cri_vip_unity_pc.dll"},{"name":"YuanShen_Data/blueReporter.exe"},{"name":"YuanShen_Data/Plugins/d3dcompiler_43.dll"},{"name":"YuanShen_Data/Native/UserAssembly.dll"},{"name":"YuanShen_Data/Plugins/metakeeper.dll"},{"name":"YuanShen_Data/Plugins/widevinecdmadapter.dll"},{"name":"YuanShen_Data/Plugins/sqlite3.dll"},{"name":"YuanShen_Data/Plugins/LumiFractureExport.dll"},{"name":"YuanShen_Data/Plugins/XInputInterface64.dll"},{"name":"YuanShen_Data/Plugins/InControlNative.dll"},{"name":"YuanShen_Data/Plugins/xlua.dll"},{"name":"mhyprot2.Sys"},{"name":"YuanShen_Data/Plugins/hdiffz.dll"},{"name":"UnityPlayer.dll"},{"name":"mhyprot3.Sys"},{"name":"YuanShen_Data/Plugins/PCGameSDK.dll"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a717722137850877937e
      X-Trace-Id:
      - 462db66307b69680:462db66307b69680:0:1
    status:
      code: 200
      message: OK
version: 1
