interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameDeprecatedFileConfigs?launcher_id=VYTpXlbWo8
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"deprecated_file_configs":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"deprecated_files":[{"name":"GenshinImpact_Data/Plugins/LumiFractureExport.dll"},{"name":"GenshinImpact_Data/Plugins/cri_vip_unity_pc.dll"},{"name":"GenshinImpact_Data/Native/UserAssembly.dll"},{"name":"GenshinImpact_Data/Plugins/metakeeper.dll"},{"name":"GenshinImpact_Data/Plugins/widevinecdmadapter.dll"},{"name":"GenshinImpact_Data/Plugins/XInputInterface64.dll"},{"name":"GenshinImpact_Data/Plugins/PCGameSDK.dll"},{"name":"GenshinImpact_Data/Plugins/mihoyonet.dll"},{"name":"UnityPlayer.dll"},{"name":"GenshinImpact_Data/Plugins/sqlite3.dll"},{"name":"GenshinImpact_Data/Plugins/hdiffz.dll"},{"name":"GenshinImpact_Data/blueReporter.exe"},{"name":"GenshinImpact_Data/Plugins/InControlNative.dll"},{"name":"GenshinImpact_Data/Plugins/APMLog.dll"},{"name":"mhyprot3.Sys"},{"name":"GenshinImpact_Data/Plugins/xlua.dll"},{"name":"mhyprot2.Sys"},{"name":"GenshinImpact_Data/Plugins/d3dcompiler_43.dll"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4ef8450907c1d974:4ef8450907c1d974:0:1
    status:
      code: 200
      message: OK
version: 1
