interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=jGHBHlcOq1
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"x6znKlJ0xK","biz":"nap_cn"},"backgrounds":[{"id":"mz45D5mpjp","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/ad1a62f5d542bc8c82d19082032b0247_3213460193512635265.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/06332792740b37ec2a6f74310512afb8_9189436975030115583.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/62541a3fb2831165c75eb28db6f662b7_5577661069182621666.png","link":"https://www.miyoushe.com/zzz/article/72984635","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/8d882c8579b027cec7f2d21aa90f1ffd_188656582584366051.webm","size":0},"theme":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/01/28/a9b692a16bb54fa3f9ba788f578ade75_4806256956944987431.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"}]},{"game":{"id":"64kMb5iAWu","biz":"hkrpg_cn"},"backgrounds":[{"id":"zh0naaJrCg","background":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/29612dc6494963f3c15a8730368a2c86_6823853661601080701.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/02/06/714d5c5266f48a90ff23927833adc31d_5071219052593079041.png","hover_url":"https://launcher-webstatic.mihoyo.com/launcher-public/2026/[...]
