interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameChannelSDKs?launcher_id=6P5gHMNyK3&channel=1&sub_channel=3
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_channel_sdks":[]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d3d9b17774754643862064e
      X-Trace-Id:
      - a069610eb9f7b3f:a069610eb9f7b3f:0:1
    status:
      code: 200
      message: OK
version: 1
