interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"backgrounds":[{"id":"v5uVm7YsRl","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/06966e7f9c65374c05d9beff0e069aed_3932744128463626363.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/31b05915030eed21766c10b25ff1953e_1057299617546345982.webm","size":0},"theme":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/b1bd358c918987789500ac139fc6e9b7_974885322756687503.webp","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_VIDEO"},{"id":"2eKZI6y4i2","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/02/06/8b2bbe9cec7bac9460783dda75182bfc_5900993295285306747.webp","link":"","login_state_in_link":false},"icon":{"url":"","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 24464fc48d0c9d2c:24464fc48d0c9d2c:0:1
    status:
      code: 200
      message: OK
version: 1
