interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameBranches?launcher_id=umfgRO5gh5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"T2S0Gz4Dr2","biz":"hk4e_cn"},"main":{"package_id":"ShYmPEuLMY","branch":"main","password":"4Rj5ER1XxjQh","tag":"6.3.0","diff_tags":["6.2.0","6.1.0"],"categories":[{"category_id":"10017","matching_field":"game"},{"category_id":"10018","matching_field":"zh-cn"},{"category_id":"10019","matching_field":"en-us"},{"category_id":"10021","matching_field":"ja-jp"},{"category_id":"10020","matching_field":"ko-kr"}],"required_client_version":""},"pre_download":null}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d27a417689192607458092e
      X-Trace-Id:
      - 3d523de13e6df4fd:3d523de13e6df4fd:0:1
    status:
      code: 200
      message: OK
version: 1
