interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=jGHBHlcOq1
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/894b89b5aaea805f6420156c7c07a1a3_6035695844148120.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/03/19/d4ddb089e0c7238f79e9829d4fd5604a_2795716738776783078.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/09/63f536d767f12f1288b3a0f4bb9e24b0_440224496418550097.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/09/5d0c30a75a33603d47ce2951fe01f818_1629932358960850634.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/bb9aa0b6571192dfbf2c44c5c6a85bd7_7848366973571592552.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bb9aa0b6571192dfbf2c44c5c6a85bd7\",\"size\":124455},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/09/057b975bc4caa2322daabd743dcd352d_739217629734001248.png\",\"link\":\"\",\"login_state_in_link\":false},\"introduction\":\"\u7C73\u54C8\u6E38\u81EA\u7814\u7684\u90FD\u5E02\u52A8\u4F5C\u5192\u9669\u6E38\u620F\u3002\\n\u6545\u4E8B\u53D1\u751F\u5728\u88AB\u795E\u79D8\u81EA\u7136\u707E\u5BB3\u300C\u7A7A\u6D1E\u300D\u6240\u4FB5\u88AD\u7684\u8FD1\u672A\u6765\uFF0C\u4E00\u5EA7\u53E6\u7C7B\u7684\u57CE\u5E02\u2014\u2014\u300C\u65B0\u827E\u5229\u90FD\u300D\u5D1B\u8D77\uFF0C\u800C\u4F60\u5C06\u4F5C\u4E3A\u300C\u7EF3\u5320\u300D\u4E32\u8054\u8D77\u7A7A\u6D1E\u4E0E\u90FD\u5E02\u3002\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/fe3811d6ac4305e222ab92317347f892_9115947607835661707.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/a8aa[...]
