interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGames?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"games":[{"id":"gopR6Cufr3","biz":"hk4e_global","display":{"language":"en-us","name":"Genshin
        Impact","icon":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/2e81b12276a2260c10133124e6ead00e_127960437642481968.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0},"title":"","subtitle":"","background":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/a5555e5aa4f4da3d1efc3b86ef65e456_7792457472547838550.webp","link":"","login_state_in_link":false},"logo":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/7f777384d29cac1ea0d34b4e16d4487b_2092553358310716519.png","link":"","login_state_in_link":false},"thumbnail":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/30/68e8178e137f6b0259e4da49b5a9be8e_8412451782424407383.png","link":"","login_state_in_link":false},"korea_rating":null,"shortcut":{"url":"https://fastcdn.hoyoverse.com/static-resource-v2/2025/10/11/329c587494692a8e3724d10deb406844_5995617087587994357.ico","hover_url":"","link":"","login_state_in_link":false,"md5":"329c587494692a8e3724d10deb406844","size":228875},"wpf_icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2025/10/11/7ca67838ed44d0cfdb3d31bd8f2ad51f_1736444674914902843.png","hover_url":"","link":"","login_state_in_link":false,"md5":"","size":0}},"reservation":null,"display_status":"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE","game_server_configs":[]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 4c298c15d226650a:4c298c15d226650a:0:1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameContent?launcher_id=8fANlj5K7I&game_id=gopR6Cufr3
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"gopR6Cufr3\",\"biz\":\"hk4e_global\"},\"language\":\"\",\"banners\":[{\"id\":\"rvemTiZf0t\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/784e255a223187bc0eed059c46259b96_3502223035281018347.jpg\",\"link\":\"https://hoyo.link/rfCVstD0W\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"zzmSpIS15S\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/253f57265564e598b78628f988dbb0e9_4544961175884690273.jpg\",\"link\":\"https://hoyo.link/rfCVstD0W\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"IGG6ob9dyF\",\"image\":{\"url\":\"https://fastcdn.hoyoverse.com/static-resource-v2/2026/02/02/cf5f4c11121b67beb29c37e77e8ef8fc_2219626968487098249.jpg\",\"link\":\"https://hoyo.link/rfCVstD0W\",\"login_state_in_link\":false[...]
