interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=GTLARRVLB5
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"bxPTXSET5t","biz":"bh3_global"},"main":{"major":{"version":"8.6.0","game_pkgs":[{"url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20251223145604_Rhadrpdk3qvU6UD7/BH3_v8.6.0_96dac6c2fcd9.7z","md5":"5b59be0cf637e836176b65281398c8ba","size":"25597146850","decompressed_size":"51204779460"}],"audio_pkgs":[],"res_list_url":"https://autopatchos.honkaiimpact3.com/ptpublic/bh3_overseas/20251223145604_Rhadrpdk3qvU6UD7/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 55a2e69776626409:55a2e69776626409:0:1
    status:
      code: 200
      message: OK
version: 1
