interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGamePackages?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_packages":[{"game":{"id":"uxB4MC7nzC","biz":"bh3_global"},"main":{"major":{"version":"8.6.0","game_pkgs":[{"url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20251223145823_S12JyelQqskSqD4z/BH3_v8.6.0_96dac6c2fcd9.7z","md5":"775b97d2223ef46a39ff429e231b1021","size":"24824942990","decompressed_size":"49660371740"}],"audio_pkgs":[],"res_list_url":"https://autopatchkr.honkaiimpact3.com/ptpublic/bh3_kr/20251223145823_S12JyelQqskSqD4z/extract"},"patches":[],"required_client_version":""},"pre_download":{"major":null,"patches":[],"required_client_version":""}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - ebd2b1062e84580:ebd2b1062e84580:0:1
    status:
      code: 200
      message: OK
version: 1
