interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getAllGameBasicInfo?launcher_id=8fANlj5K7I
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_info_list":[{"game":{"id":"gopR6Cufr3","biz":"hk4e_global"},"backgrounds":[{"id":"FxOloeJ3x1","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/27/615db6d55a5c16a5306cc370f6a8103e_8806387376315522272.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/27/ab2f0ec9fb681dfb388785cf229c2f8e_5633800220766638828.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/27/bdeaf99db7c6fb90abc3c5ab15adfe1c_2736775291985840226.png","link":"https://act.hoyoverse.com/ys/event/blue-post/index.html?page_sn=a8dca8609c7346de\u0026mhy_presentation_style=fullscreen\u0026utm_source=launchergenshin\u0026utm_medium=news#/index","login_state_in_link":false,"md5":"","size":0},"video":{"url":"","size":0},"theme":{"url":"","link":"","login_state_in_link":false},"type":"BACKGROUND_TYPE_UNSPECIFIED"},{"id":"RZr6Vbqrzl","background":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/07/715cc9d42b37987855439c9ee7c4f7ec_6536822678896073097.webp","link":"","login_state_in_link":false},"icon":{"url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/07/09c1ca522f6fc1ae3387bae8f5cb9263_6849292303713210087.png","hover_url":"https://launcher-webstatic.hoyoverse.com/launcher-public/2026/04/07/f79d10e39de21d8f818da5be1162e4d4_65982036[...]
