interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameScanInfo?launcher_id=xV0f4r1GT0
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_scan_info":[{"game_id":"HXAFlmYa17","game_exe_list":[{"version":"2.6.0","md5":"3863f640f0d2b2a5171fd6f0b7e19be3"},{"version":"2.5.0","md5":"5c0224941dcb0ee883b7d237fa819b0c"},{"version":"2.4.0","md5":"214b1acaee68ec8f0a6bb3d2ccc3f87e"},{"version":"2.3.0","md5":"7cc3ac5fbab3c846facb500fc40d00eb"},{"version":"2.2.0","md5":"cefb06c6573824232e3fe92a79b59e70"},{"version":"2.1.0","md5":"8a5154f002805dcac55d36a55621133c"},{"version":"2.0.0","md5":"24b12bcf6df4739d5fadac875dad03b4"},{"version":"1.7.0","md5":"65063638e0b60a64ebb43aa8c101e1bf"},{"version":"1.6.0","md5":"a7eae05778eaf9f15b3e4c68d2f7cb50"}]}]}}'
    headers:
      Content-Type:
      - application/json
      EagleId:
      - 2b6d26a717722137818686730e
      X-Trace-Id:
      - 577903e518023738:577903e518023738:0:1
    status:
      code: 200
      message: OK
version: 1
