interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGames?launcher_id=jGHBHlcOq1
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"games\":[{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u7EDD\u533A\u96F6\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/894b89b5aaea805f6420156c7c07a1a3_6035695844148120.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/27/86ca4c5d44e1558553ba7974c015252c_7077722010170199403.webp\",\"link\":\"\",\"login_state_in_link\":false},\"logo\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/09/63f536d767f12f1288b3a0f4bb9e24b0_440224496418550097.png\",\"link\":\"\",\"login_state_in_link\":false},\"thumbnail\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/09/5d0c30a75a33603d47ce2951fe01f818_1629932358960850634.jpg\",\"link\":\"\",\"login_state_in_link\":false},\"korea_rating\":null,\"shortcut\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2025/06/18/bb9aa0b6571192dfbf2c44c5c6a85bd7_7848366973571592552.ico\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"bb9aa0b6571192dfbf2c44c5c6a85bd7\",\"size\":124455},\"wpf_icon\":{\"url\":\"\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"top_left_logo\":null,\"introduction\":\"\u7C73\u54C8\u6E38\u81EA\u7814\u7684\u90FD\u5E02\u52A8\u4F5C\u5192\u9669\u6E38\u620F\u3002\\n\u6545\u4E8B\u53D1\u751F\u5728\u88AB\u795E\u79D8\u81EA\u7136\u707E\u5BB3\u300C\u7A7A\u6D1E\u300D\u6240\u4FB5\u88AD\u7684\u8FD1\u672A\u6765\uFF0C\u4E00\u5EA7\u53E6\u7C7B\u7684\u57CE\u5E02\u2014\u2014\u300C\u65B0\u827E\u5229\u90FD\u300D\u5D1B\u8D77\uFF0C\u800C\u4F60\u5C06\u4F5C\u4E3A\u300C\u7EF3\u5320\u300D\u4E32\u8054\u8D77\u7A7A\u6D1E\u4E0E\u90FD\u5E02\u3002\"},\"reservation\":null,\"display_status\":\"LAUNCHER_GAME_DISPLAY_STATUS_AVAILABLE\",\"game_server_configs\":[]},{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\",\"display\":{\"language\":\"zh-cn\",\"name\":\"\u5D29\u574F\uFF1A\u661F\u7A79\u94C1\u9053\",\"icon\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/fe3811d6ac4305e222ab92317347f892_9115947607835661707.png\",\"hover_url\":\"\",\"link\":\"\",\"login_state_in_link\":false,\"md5\":\"\",\"size\":0},\"title\":\"\",\"subtitle\":\"\",\"background\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/15/a8aa[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=x6znKlJ0xK
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"x6znKlJ0xK\",\"biz\":\"nap_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"EZr69D6pbm\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/05/05/cefdd8ff250fc4e29e61ea38bacdf8a0_8975493230484905742.png\",\"link\":\"https://www.miyoushe.com/zzz/article/75145477\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"UjQJnJKi7M\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/05/02/b92b2fc948e24eb413800dea1e512823_2621493203478879173.png\",\"link\":\"https://www.miyoushe.com/zzz/article/75077689\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"HLHqyrMxea\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/30/95c73a4bc4c11260c163cab2ece4dbb3_75134092789725203.png\",\"link\":\"https://www.miyoushe.com/zzz/article/75028066\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"1gQwXwYNWl\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/29/13b2281e5586d03d7708ae710a692aa8_9123231918601133694.png\",\"link\":\"https://www.miyoushe.com/zzz/article/75009216\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"HHpnRqaGW1\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/29/61900c4d4d6de493eb1d3e0d866230b3_6680294168813179173.png\",\"link\":\"https://www.miyoushe.com/zzz/article/75009674\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"},{\"id\":\"yIygqaONKz\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/28/2158b23d1cc775d05f061e59637a1a28_5731078423876217221.png\",\"link\":\"https://www.miyoushe.com/zzz/article/74987521\",\"login_state_in_link\":false},\"i18n_identifier\":\"\"}],\"posts\":[{\"id\":\"3fz8ShnfiN\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u673A\u5236\u4ECB\u7ECD\u4E28\u666E\u7F57\u7C73\u5A05\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/article/75060042\",\"date\":\"05/01\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"N6IINnBuf9\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u4EE3\u7406\u4EBA\u672A\u5F52\u6863\u5F71\u50CF\u4E28\u666E\u7F57\u7C73\u5A05\u7BC7\",\"link\":\"https://www.miyoushe.com/zzz/article/75033335\",\"date\":\"04/30\",\"login_state_in_link\":false,\"i18n_identifier\":\"\"},{\"id\":\"JfuagEd2K5\",\"type\":\"POST_TYPE_INFO\",\"title\":\"\u517B\u6210\u6307\u5357\u4E0A\u65B0\u4E28\u666E\u7F57\u7C73\u5A05\u517B\u6210\u6750\u6[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=64kMb5iAWu
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"64kMb5iAWu\",\"biz\":\"hkrpg_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"OV3OzhhlPr\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/28/43a3ce93cffa4468f12b1879ec45df19_8663678515880[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=1Z8W5NHUQb
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"1Z8W5NHUQb\",\"biz\":\"hk4e_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"31qk7H5Qef\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/24/7e1099d606ec1e965ff91ad352047f78_80533609292227[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hyp-api.mihoyo.com/hyp/hyp-connect/api/getGameContent?launcher_id=jGHBHlcOq1&game_id=osvnlOc0S8
  response:
    body:
      string: "{\"retcode\":0,\"message\":\"OK\",\"data\":{\"content\":{\"game\":{\"id\":\"osvnlOc0S8\",\"biz\":\"bh3_cn\"},\"language\":\"\",\"banners\":[{\"id\":\"QRPi7TXihv\",\"image\":{\"url\":\"https://launcher-webstatic.mihoyo.com/launcher-public/2026/04/30/cc1f13fead0a89c7ab3b6a609f0ead6e_210045889603635[...]
