interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sg-hyp-api.hoyoverse.com/hyp/hyp-connect/api/getGameBranches?launcher_id=kkd8eq3Nnd
  response:
    body:
      string: '{"retcode":0,"message":"OK","data":{"game_branches":[{"game":{"id":"uxB4MC7nzC","biz":"bh3_global"},"main":{"package_id":"z2VwrBdMdt","branch":"main","password":"TnIToyd4kkTm","tag":"8.6.0","diff_tags":[],"categories":[{"category_id":"10175","matching_field":"game","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]},{"category_id":"10180","matching_field":"asb","type":"CATEGORY_TYPE_UNSPECIFIED","scenarios":[]}],"required_client_version":""},"pre_download":null,"enable_base_pkg_predownload":false}]}}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 49e6d630666169b1:49e6d630666169b1:0:1
    status:
      code: 200
      message: OK
version: 1
